[2017-03-19 22:26] antstorm commented on #476
@sergio-ocon can you please paste the error and stack trace?

[2017-03-23 14:41] sergio-ocon commented on #476
[code]

[2017-03-23 14:43] sergio-ocon commented on #476
Sorry, I forgot the require 'money-rails' when testing again.

Perhaps something to add to the initializer.

I will past the error below

[2017-03-23 14:53] sergio-ocon commented on #476
NoMethodError: undefined method `monetize' for #<ActiveRecord::ConnectionAdapters::PostgreSQL::Table:0x0055cee7c63610>
Did you mean?  money
/home/sergio/workspace/devel-manageiq/db/migrate/20170323144231_change_showback_charges_to_money.rb:5:in `block in change'
/home/sergio/.gem/ruby/gems/activerecord-5.0.2/lib/active_record/connection_adapters/abstract/schema_statements.rb:438:in `change_table'

[2017-03-23 14:55] sergio-ocon commented on #476
As you can see, the monetize menthod is not found, so I can't use it in the migration

If I create the columns manually, I get the same error later.

[2017-03-24 16:44] vikks opened #477 "unknown attribute error when used with jsonb attributes"
Hi,

 jsonb attributes in rails 5 throws **ActiveModel::MissingAttributeError**

#### stack
[code]

#### Sample Code:

[code]

[2017-03-24 19:46] antstorm commented on #477
@vikks can you point to the file/line that throws the error?

[2017-03-24 20:13] antstorm commented on #476
@sergio-ocon I'm trying to replicate the error, but can't. So I guess your migration has `t.monetize` in it, right? Which is not what you've pasted. Also your model has a typo in it (line 5), but it seems like it's not related to the error you've posted. Also your DB doesn't match `monetize` definition in the model (`_cost` instead of `_price`).

After following the steps and correcting the typos

[2017-03-24 22:43] sergio-ocon commented on #476
Yes, I tried to replicate the error to add the logs but I have been working on the code for a while, so I created a new migration and used t.monetize to create new tables, thus the error you see.

I will try again and paste the new results here

[2017-03-24 23:14] sergio-ocon commented on #476
I needed to require 'money-rails' in application.rb
I required it in money.rb

That is why I was getting the errors.
That require 'money-rails' is not described in the docs.

Thanks for the help @antstorm

[2017-03-25 02:23] vikks commented on #477
##### StackTrace

[code]
##### in products_controller.rb

[code]

[2017-03-26 09:32] antstorm commented on #476
@sergio-ocon normally you don't have to do this, Bundler should require it for you. Are you sure it's in your `Gemfile`?

[2017-03-26 09:33] antstorm commented on #477
@vikks thanks, I'll have a closer look

[2017-03-26 10:36] sergio-ocon commented on #476
Yes, it is in the Gemfile.

[2017-03-26 10:46] sergio-ocon commented on #476
https://github.com/sergio-ocon/manageiq/tree/add_money_gem

You can see the code here.

[2017-03-26 14:06] antstorm commented on #476
@sergio-ocon you've specified `:require => false`, which means that you have to explicitly require the gem later on and that's why it didn't work in the first place

[2017-03-26 14:06] #476 closed

[2017-03-26 14:27] sergio-ocon commented on #476
thanks! let me try it

[2017-04-03 06:47] dieuit07 opened #478 "decimal for cent"
Is there any config or customize code for that?
In some purpose of client, field store money should have 6 decimals (float). Column already float type but after monetize, value return just integer

[2017-04-03 08:25] antstorm commented on #478
@dieuit07 I haven't tried this, but you can try enabling `infinite_precision` on the `Money`, which will use `BigDecimal` allowing you to store it at a much higher precision

[2017-04-03 08:31] antstorm commented on #478
Here's another approach to this problem — https://github.com/RubyMoney/money/issues/667#issuecomment-290967583. You'll still have to store  integers, but they will include a much higher precision.

[2017-04-03 11:44] antstorm commented on #477
@vikks it seems like this behaviour is not supported, because `money-rails` uses `write_attribute` when modifying values (not the setter). You can still use the gem, but you'll need to modify your setter to something like:

[code]

Hope that helps.

[2017-04-08 12:13] 1v opened #479 "Validates numericality bug?"
[code]
[code]
All tests passing except last one: Price must be less than or equal to 21474836.
What I'm doing wrong?

`/.rvm/gems/ruby-2.1.0/gems/money-rails-1.6.1`

[2017-04-10 08:42] antstorm commented on #479
@1v I'm having zero luck trying to reproduce your error. Can you try the latest version of `money-rails`?

[2017-04-10 08:48] 1v commented on #479
@antstorm I've also tried latest version and got same error. Btw Rails version is 4.2.1.

[2017-04-10 10:44] antstorm commented on #479
This is quite interesting. Btw, is there a particular reason for using that number? Can you try the same test with something smaller like `1000` and see if that works?

[2017-04-10 11:05] 1v commented on #479
It's maximum integer for column. Rails throwing exception if number entered more than that.
I've tried `1000` got same error. After create not passing.

[2017-04-10 11:50] antstorm commented on #479
@1v thanks, I'll have a closer look

[2017-04-14 21:29] Karolis-Sakavicius commented on #475
@antstorm maybe you have a roadmap? I see that you created new repo "money-heuristics", is it related to this problem?

[2017-04-16 10:32] antstorm commented on #475
@Karolis-Sakavicius unfortunately no, the `money-heuristics` was extracted from `money` gem and I think is not used by anyone. So currently (knowing all the limitations and recent issues) it seems like both `monetize` and `money-rails` are pending a refactoring work. I'll set a roadmap for both gems and will let you know.

[2017-04-19 14:29] sevos commented on #438
postfix localization does not make sense. which postfix would be used in case when

- default currency is set to GBP
- amount_currency value in given row is USD

in current implementation it would be `_pennies` but it does not make sense anyway. do we localize for every language? amount_grosze for PLN?

[2017-04-19 23:09] cd-rum opened #480 "Can I change the number of exponents on any given column?"
Dealing with a lot of monetized columns on my model—is there any way to develop a per-column exponent setting?

Because I'm dealing in USD, and I want a column that can save a rate that looks like so: $7.65448.

Is that possible with this gem?

[2017-04-19 23:22] antstorm commented on #480
@cd-rum sure thing, it should be possible by registering a new currency using the `Money::Currency.register` method. You can override USD with the same setting, but use `100000` as your `subunit_to_unit`. Obviously you'll have to deal with rounding to cents on your own.

[2017-04-19 23:22] cd-rum commented on #480
Ah great! Thanks @antstorm.

[2017-04-19 23:22] #480 closed

[2017-04-22 11:53] facundofarias commented on #399
Hey guys, so is there a way to avoid this behavior?
Thanks

[2017-04-22 12:38] igneus commented on #399
@facundofarias You can explicitly set amount column name postfix in your money initializer, like

[code]

[2017-05-08 19:11] mresti opened #482 "Problem assign Fixnum object as cents"
Hi,

I've added the gem to a project to start using it. It is Rails 5.0.2 currently with postgresql 9.4.

This is my money.rb
[code]
I have added monetize in the active record model and added the migration according to the README.md.

I have a problem when I have the below spec:

[code]
I hope that anyone can help me about the settings to fix the spec because I didn't find information about it and

[2017-05-12 16:37] antstorm commented on #482
@mresti you should assign cents directly to the amount column (in your case `price_cents`) instead of using the virtual attribute. Virtual attribute treats assigned Fixnums as whole units (dollars, euros, etc) usually you wanna use it when assigning an instance of `Money`.

[2017-05-15 07:42] #482 closed

[2017-05-16 12:19] casiodk opened #485 "money_without_cents_and_with_symbol is not rounding correctly"
I would expect `<%= money_without_cents_and_with_symbol(Money.new(1256), :dkk) %>` to eq 13 and not 12

[2017-05-22 21:34] antstorm commented on #485
@casiodk this method just strips down cents, it doesn't round the given value

[2017-05-22 21:34] #485 closed

[2017-05-24 16:37] mstate commented on #384
I had the reverse situation where I wanted allow_nil due to nil data provided on input that I didn't want to translate to 0 cents in the database (too many fields and places to make the change).  But, for calculations, I didn't want to have to force a to_money on every attribute read.  I added the following to a config initializer to make nil cents values in the database be read as 0.to_money.
`
#

[2017-05-26 13:18] ESWAT opened #487 "How to stop nil values from being initialized with 0 Money object?"
Take the following model as an example:

    class Product < ApplicationRecord
        monetize :price_cents, numericality: { greater_than_or_equal_to: 0 }
        …
    }

with this schema

    create_table "products", id: :serial, force: :cascade do |t|
        t.integer "price_cents", null: false
        …
    end

When I create a new `Product` that has nil `price` instead of the value being ni

[2017-05-27 11:58] antstorm commented on #487
@ESWAT good point, I think this one needs a PR to resolve. There are 2 ways of thinking here, the first one is where you're coming from — you want explicit `nil` indicating that something wasn't set as opposed to being set to zero. However the other way of looking at his is trying to avoid `nil` at all costs, minimising well known ruby problems like `NoMethodError` and so on.

In this particular s

[2017-06-10 12:08] antstorm commented on #487
@ESWAT looking into this issue, have you tried adding `allow_nil: true` to your `monetize` call?

[2017-06-14 09:24] theoo opened #488 "Search a money field using AR "where" raises TypeError"
## Context
Migrating from `composed_of` to money-rails gem, on Rails 5.0.1

In the model:
[code]

In console, getter/setter are working
[code]
But searching using `where` on the very same attribute raise an error.
[code]

## Expected behaviour
The query should return a `Model::ActiveRecord_Relation` object.

## Current behaviour
The line returns
[code]

## Side note/question
I switch from a workin

[2017-06-16 11:01] antstorm commented on #488
@theoo as far as I'm concerned this wasn't ever a part of `money-rails`, but it's definitely something others would appreciate. I'll have a look at implementing it, but in case you wanna do it — feel free!

As for the `composed_of` — I think they are deprecating it in favour of the new Attributes API (https://blog.metova.com/rails-5-attributes-api), but I'm not sure. Maybe worth asking in rails/ra

[2017-06-20 02:14] ESWAT commented on #487
@antstorm hmm it’s been a while but judging from my code it looks like I hadn’t used that option.

I’ll use that and if you don’t hear from me then it means it worked and thanks 👍

[2017-06-20 15:32] theoo commented on #488
@antstorm `attribute` doesn't do the job by itself, I see it more like a better `serialize`.
As referenced before, `composed_of` deprecation has been cancelled: https://github.com/rails/rails/pull/6743#issuecomment-27530241

I think this is still the best way to implement the finder, but as `composed_of` has been removed in the early stage of `money-rails` developpement (#17), I won't do a pull-re

[2017-06-20 15:32] #488 closed

[2017-06-20 16:54] antstorm commented on #488
@theoo I was thinking more like an `attribute` with a custom underlying type that is masking 2 underlying columns. The key here is consistent API which requires methods for all possible conversions (to DB, from DB and from user input).

I wasn't aware that `composed_of` was used in `money-rails`, thanks for pointing that out.

[2017-06-20 17:01] antstorm commented on #487
@ESWAT great, good luck! :)

[2017-06-27 17:47] ESWAT commented on #487
Went through my solution again but `allow_nil: true` wasn’t sufficient.

I technically don’t want to allow a nil value to pass ActiveRecord validation, so with this flag on a nil value will hit the DB and return an exception. However that flag does prevent the Money object from returning 0 when I want it to be nil.

My ruby-fu is not great but I could try to make a PR for this. This seems more of

[2017-07-12 07:48] shioyama opened #491 "Money amount interpreted as cents pre v1.6.2 if default currency was cents-based, but not after"
I'm not sure if this is a bug before or after v1.6.2, but it's definitely something that should be flagged.

This change: https://github.com/RubyMoney/money-rails/compare/v1.6.1...v1.6.2 had a drastic effect on how money fields are interpreted depending on the value of the default currency.

I've created a repository and some specs to demonstrate this: https://github.com/degica/money-rails-test

S

[2017-07-12 08:04] shioyama commented on #491
The commit is: c3c97ad21b10c09e45ba5a5a9119db79693c5b79

It was made to fix #421.

[2017-07-12 21:14] antstorm commented on #491
@shioyama good shout, I remember that commit and this problem is still something I'm thinking about. Basically it happens when you assign both `monetize`d attribute and currency at the same time. In fact if you look at that commit you've mentioned — it actually re-assigns the amount column when **reading** the attribute.

What happens there is you're assigning 2 attributes sequentially. First the

[2017-07-13 00:17] shioyama commented on #491
Thanks, that explanation basically confirms my understanding but it's great to have it clearly in writing, because the code is hard to grok and there's not much mention (as far as I can find) of how this works in any documentation.

I think that one of the things to me that makes the change very confusing is that Money itself is cents based. In *any* currency, when you pass an integer as the first

[2017-07-13 20:42] antstorm commented on #491
I've commented on your PR.

I do agree with the need for a spec covering this use case, but also it seems like this change is causing more issues than it solves. It introduces quite a bit of complexity and is frankly a mess. Unless there's a better solution to this without problematic side-effects I'm thinking that reverting it might be a good idea.

[2017-07-29 12:49] mcoms opened #494 "Default currency not allowing non-cents DB columns it previously created since v1.9.0"
app/models/gift.rb
[code]

config/initializers/money.rb
[code]

db/migrate/create_gifts_..._.rb
[code]

In `money-rails (1.8.0)` this worked perfectly. The migration created a database column, `price_pennies` and Money worked on it to provide `Gift.price`.

In `money-rails (1.9.0)` the following error is raised on boot:

[code]

[2017-07-29 12:55] mcoms commented on #494
For others, the following will unblock you...

[code]

But ideally, `money-rails` should continue using `_pence` for GBP without having to be explicitly told.

[2017-07-29 15:37] antstorm commented on #494
@mcoms so this behaviour was changed in this commit — https://github.com/RubyMoney/money-rails/commit/b7250bec5572e1c5aa01e58a287b3fb1ed4d3969. Now it's no longer inferring the name of the column base on the subunit name of the default currency, instead it only relies on the amount column's postfix (without pluralisation). So changing it to `_pennies` should solve your problem.

[2017-07-29 17:41] mcoms commented on #494
Thanks @antstorm, if it's always going to be `_cents` going forward, I'll rename the database columns. Could be worth a note in the `CHANGELOG`? I looked there first before raising an issue.

[2017-07-29 17:41] #494 closed

[2017-07-31 08:19] antstorm commented on #494
@mcoms yes it will! 👍

[2017-07-31 17:21] rbagley0278 opened #495 "Rails 5.1.2 - Depricated alias_method_chain"
lib/bundler/runtime.rb:85:in `rescue in block (2 levels) in require': There was an error while trying to load the gem 'money-rails'. (Bundler::GemRequireError)
Gem Load Error is: undefined method `alias_method_chain' for Money:Class
Did you mean?  alias_method

[2017-07-31 17:31] rbagley0278 commented on #495
Not an issue on master.

[2017-07-31 17:31] #495 closed

[2017-08-03 02:40] maengkom opened #496 "How to get nested attributes as money object ?"

[2017-08-03 02:41] #496 closed

[2017-08-08 08:33] antstorm commented on #479
@1v having zero luck with replicating your issue. Can you please share more details about your setup? Which DB are you running? Schema for that table? Any triggers/constraints? What's the actual error message on the model?

[2017-08-08 09:10] 1v commented on #479
Ok I figured out that problem was in locale settings:
[code]
So I only can stick with my current solution above?

[2017-08-08 10:19] antstorm commented on #479
I'm not sure if I see what's the problem with your locale settings… it's also really odd that locale settings affect validation logic, since there should be no formatting going on at that point.

[2017-08-08 17:06] 1v commented on #479
I think it's sort of separator problem.

[2017-08-08 17:29] antstorm commented on #479
I'll try again with your locale config

[2017-08-08 18:58] davetapley opened #497 "Using aggregate functions on collections"
I _believe_ this is a feature request:

If I have e.g. a `has_many :products` collection, and I wish to get the sum of the `price` field, I believe I have to do this:

[code]

I'd like it if money-rails could automatically do this, is that in scope?

[2017-08-09 19:31] antstorm commented on #497
@dukedave that's a very interesting suggestion. Might be quite involved, so it would be great to figure out an API for this to have a estimate on whether it fits in scope. Do you have any ideas?

[2017-08-09 20:16] ncarinaoitec opened #498 "Boot Error"
Hi!
I installed the stable releases, and when I add the require 'money' in app.rb, it's giving me this error:

Boot Error
Something went wrong while loading app.rb
LoadError: cannot load such file -- Money

Thanks!

[2017-08-10 08:18] antstorm commented on #498
@ncarinaoitec can you be a bit more specific about your setup? Which Rails version are you running? If you're using Bundler then you don't need to `require 'money'`, it's gonna do that for you

[2017-08-14 22:36] dukedave commented on #497
@antstorm I think the API wouldn't be too complicated:

1. For any `monetize :foo_cents, as: foo`:
1. See if the including class extends [`ActiveRecordCalculations`](http://api.rubyonrails.org/classes/ActiveRecord/Calculations.html), if it does:
2. Override `calculate` and:
3. If the `column_name` matches the `foo` field, then:
4. Call `super` with `foo_cents`, and:
5. Wrap the result in a `Money.

[2017-08-14 22:37] dukedave commented on #497
Uh, I now realize I just answered your asking for an API with some implementation pseudo-code :joy:
So, the API would be: Monkey patch `calculate` :wink:

[2017-08-15 08:38] antstorm commented on #497
@dukedave yeah, that makes perfect sense. The only thing I'm a bit worried is handling different currencies. Maybe if there's more than one currency in the dataset we can return a hash with amounts grouped by currencies.

[2017-08-15 09:07] igneus commented on #497
Don't do this.

Even if monkey-patching wasn't ugly enough in itself: `calculate` is there for aggregate calculations that can be done completely on database level. A Money sum isn't such a calculation - it requires application business logic to be executed (at least check that currencies match). Don't monkey-patch an existing method to handle an operation with totally different semantics.

Also t

[2017-08-15 14:05] dukedave commented on #497
@igneus I hear your concerns, I too loathe monkey patching.
I will note that in the plan I outlined above we're not changing the behavior for any existing non-error-throwing semantics, i.e:

* Calling `sum(:foo_cents)` would be unchanged.
* Calling `sum(foo)` would previously have been `ActiveRecord::StatementInvalid`, but now would be an instance of `Money` (or a hash, or whatever).

There will b

[2017-08-15 14:33] igneus commented on #497
@dukedave

ok, I wasn't aware of this.

And I must admit that Money sum *grouped by currency* is even possible on the database level. It doesn't mean I like the proposal, but my objections have been proven void.

[2017-08-25 08:24] Sylvain opened #500 "Precision not taken into account at ActiveRecord object creation"
Context :
- MoneyRails 1.9.0
- ActiveRecord
- In money initializer: config.default_currency = :eur
- Model Item with price_cents and price_currency columns
- Custom currency EU4 (same as EUR but with 4 decimals like in Readme)

I have a model Item defined like this:

[code]

In Console, when I try to create an object, I get the following bug
[code]

So the price is rounded before insertion.

When

[2017-08-25 08:55] igneus commented on #500
Don't set the "implementation attributes" `price_cents` and `price_currency` directly, but assign a `Money` instance to the "monetized" attribute `price`: `Item.create(price: Money.new(1.234567, :eu4))`

[2017-08-25 08:59] Sylvain commented on #500
Thanks for your help @igneus! I provided this use case to be clear, but in my web application, the value will issued by a form.

I will have something like this in my controller : Item.create(params[:item]) where the params hash contains the attributes like : {price: '1.2345', price_currency: 'eu4'}

It won't be convenient to manually modify the hash before the item creation.

[2017-08-25 09:05] igneus commented on #500
In the example you posted you actually set `price` and `price_currency`, i.e. you mix the high-level and low-level attributes.
Have you tried `Item.create(price_cents: 1.234567, price_currency: "EU4")` ? It might work as expected.

[2017-08-25 09:10] Sylvain commented on #500
Thanks again for your help.

It works but in my web application, people are expected to provide the price in the form, not the price_cents. So the data received by the controller and passed to the object will be price and not price_cents, unfortunately.

[2017-08-25 09:15] igneus commented on #500
(I have nothing more to offer here.)

[2017-08-25 09:17] Sylvain commented on #500
Ok no problem @igneus thanks!

I understand that a model with price defined as a Money object can not be handle transparently by a form because the coercion does not take into account the currency defined.

I will dive deeper in the code to see what I can do.

[2017-08-25 10:03] Sylvain commented on #500
OK I found a way to manage this.

I understood why the object is instantiate with EUR instead of EU4. When the migration is created, it sets a default value as 'EUR' for price_currency. In the Money Rails code, when the price is monetized and with_model_currency is sets, it looks at "price_currency" to infer a currency.
But at this moment, the value returned by price_currency is the default value

[2017-08-25 10:03] #500 closed

[2017-08-25 13:51] antstorm commented on #500
@Sylvain yes, it's a known issue, discussed here — #491. Basically the problem is that we're setting attributes in sequence, so setting a `price` uses your default currency when figuring out the amount in cents and then it changes the currency, but the precision is already lost. What you wanna do is use a `Money` object when setting your `price`, like this:

[code]

This way both will get set auto

[2017-08-25 13:53] antstorm commented on #500
Oh, just noticed the other replies :) So in case of a form I'd recommend combining your amount and currency into a `Money` object in your controller.

[2017-09-01 17:35] dukedave commented on #497
I've ended up with this snippet, to DRY things up a bit:

[code]

This allows me to, e.g:

[code]

[2017-09-26 11:36] amingilani opened #503 "Removing decimal from attribute currency"
I have two columns in my database:

[code]
All this does is take the grand total from USD and save it in PKR value as well.

The problem is that PKR, in practice, does not subdivide. We no longer have subunit currency, and when quoting prices, we use whole numbers.

Is there a way for me to edit this to stay whole numbers?

E.g.

[code]

[2017-09-27 10:20] antstorm commented on #503
@amingilani I'd suggest defining a copy of the PKR with a subunit to unit ratio of 1 (https://github.com/RubyMoney/money#currency) and using that instead of the normal PKR

[2017-09-28 09:45] krtschmr opened #504 "rails 3.1 issues"
anybody having 3.1 issues?
either this gem nor the regular money gem works in our 3.1 application. as soon we add it to gemfile it's failing

[2017-10-01 10:18] igneus commented on #504
I have created a fresh Rails 3.1.12 application, included the money-rails gem, no problems so far.

What is your exact Rails version?
Would it be possible to share the complete contents of your `Gemfile`?

[2017-10-01 11:42] krtschmr commented on #504
allright, figured it out.

we use rails 3.22 and shitload of gems.
i can't figure out *which* gem kills it, but i found out, if i put `gem 'money'` on top of my gemfile it simply works. if i put it at the end, it breaks.

[2017-10-01 11:42] #504 closed

[2017-10-01 14:31] antstorm commented on #504
@krtschmr in case you've got some spare time it'd be really good to figure out which gem `money` clashes with. Chances are others might have this problem as well.

[2017-10-02 14:54] chargio opened #506 "Storage precision independent on currency precision"
Hi,

I want to be able to define the storage precision independently of the currency used.

For instance: storage precision is 12 digits, I am using USD, so when showing or writing it, i would use 12 "USD", and that would be converted to the number of digits.

In that way, I can store my information without losing data, while keeping it in Integer with all the benefits.

I've read that you can use

[2017-10-02 21:31] antstorm commented on #506
@sergio-ocon yeah, it makes perfect sense to me. Probably it can be achieved by redefining the precisions of the currencies you need (as opposed to adding new fictional currencies).

Did you have a specific implementation in mind? You might need to store the precision alongside the record itself to avoid misinterpreting results on fetch. Also in order not having to define it for every currency you

[2017-10-03 00:38] amingilani commented on #503
Thanks! That fixed it :)

[2017-10-03 00:38] #503 closed

[2017-10-04 15:52] sergio-ocon commented on #506
Redefining the precisions should not be needed, as every currency would use the same, it will be stored with whatever precision is configured (and it should always be higher than the maximum
There should be defined new functions to grab the info:
- store the information with the precision configured, or with the precision of the currency (so the behaviour is the same that today)
- get the informat

[2017-10-04 15:57] sergio-ocon commented on #506
Would I need to modify the Money gem and also this one?

[2017-10-08 23:15] gregpardo commented on #487
Also having this same problem. If I set to nil the model still returns valid even if I have presence: true on the column. It retains the value it was set to.

[2017-10-13 05:51] amingilani opened #507 "Overriding the setter throws an error"
My values come with a lot of weird whitespace and padding so, as recommended by the [docs](http://api.rubyonrails.org/classes/ActiveRecord/Base.html#class-ActiveRecord::Base-label-Overwriting+default+accessors) I tried to override the accessors

[code]

This resulted in the following error:

[code]

Is there a workaround for this? For the moment, i'm going to strip it in the controller, but this d

[2017-11-09 21:59] antstorm commented on #497
https://github.com/RubyMoney/money-rails/pull/489

[2017-11-16 08:11] phlegx opened #510 "How to use multiple money banks"
Hi!

I want to use multiple money banks. I know how to use one money bank and set this to `default_bank`. But how can I use many different money banks?

[2017-11-16 21:10] antstorm commented on #510
@phlegx you should be able to pass in a bank when initialising your `Money` object. It's a third argument — `Money.new 100, 'USD', bank`. Unfortunately money-rails doesn't provide easy access to this attribute, but you should be able to add it manually. It's also a good opportunity for a PR in case you're up for it.

Can you also be a bit more specific about your use case? Why would you want multi

[2017-11-20 19:52] phlegx commented on #510
Thx @antstorm for the reply. Can you please add gem [money-openexchangerates-bank](https://github.com/phlegx/money-openexchangerates-bank) here [RubyMoney/money#currency-exchange](https://github.com/RubyMoney/money#currency-exchange)? Thx

[2017-11-21 11:19] antstorm commented on #510
@phlegx sure, but it looks very similar to https://github.com/spk/money-open-exchange-rates. What's the difference?

[2017-11-30 10:15] maran opened #512 "Unexpected i18n behaviour"
Hi guys,

I am pretty sure this is not an issue persé but me misunderstanding how things work.

I am using EUR as default currency, however I don't want to use any i18n from money-rails by default. I tried setting `Money.use_i18n = false` to this end however it's not doing what I expect.

[code]

Since I disabled i18n I expected the result to be "10.00".

How can I achieve the default formatting f

[2017-11-30 17:30] antstorm commented on #512
So the decimal mark comes from the currency defaults in case i18n is turned off. In order to have more control over this behaviour use `.format` method:

[code]

Use can also set `Money.default_formatting_rules` if you need consistent formatting throughout your app:

[code]

Hope this helps

[2017-12-04 08:28] maran commented on #512
This was actually what I was looking for. Thanks for clearing that up for me. Appreciate the help 👍

[2017-12-04 08:28] #512 closed

[2017-12-22 22:52] jokklan commented on #449
Hi, I just experienced this issue as well and I guess it's actually a bug right? I mean a browser always submits with dot as decimal point, so the params received will also always be with dot. However when using many europeans languages is the decimal point a comma, and money-rails will then (wrongly) give a validation error, because it tries to parse a number with dot notation as a number with co

[2017-12-22 22:55] jokklan commented on #449
The check that fails in validation is `invalid_thousands_separation`

[2018-01-03 18:17] phlegx commented on #510
Yes, it is similar but with a better cache handling, more flexible with more usable methods.

[2018-01-06 23:47] antstorm commented on #510
@phlegx I would suggest getting in touch with people maintaining the other project and joining forces. I'm sure they would appreciate your help creating a better gem

[2018-01-08 10:09] JulienItard opened #513 "Bump version"
hello,

I'd like to use monay 6.10 Could you add a tag to use it ? It's already on master but no tag version

Thanks !

[2018-01-08 21:08] antstorm commented on #513
@JulienItard both 6.10.0 and 6.10.1 are up and pushed to RubyGems. I've checked the repo and the tags are there. Can you clarify what exactly are you having issues with?

[2018-01-10 14:05] npetkov commented on #513
The current release locks money to 6.9.x. The gemspec has been updated in master to allow 6.10.x versions two months ago, but there is no new gem version since then.

[2018-01-15 20:58] antstorm commented on #513
Ah gotcha! Pushed the new 1.10.0 to RubyGems (https://rubygems.org/gems/money-rails).

[2018-01-15 20:58] #513 closed

[2018-02-01 12:03] KelseyDH commented on #368
I was able to get this validation setup working when I tried:

[code]

Making sure to put the `Money` object first before the numerical comparison on `amount`, to avoid gotchas as pointed out by @ZombieHarvester .

[2018-02-02 11:29] casiodk commented on #353
But it doesnt make sense that 5.99 without cents is 5 it should be 6, or you should be able to set a rounding option

[2018-02-02 13:41] KelseyDH commented on #293
I'm getting a problem almost identical to this.   It seems to be triggered when a field has multiple money columns?

In my case I have these columns:
[code]

I have a numericality validation for a separate field called `percentage`, nothing radical.

Yet this fails on a basic instantiation using:

[code]

And hacks like using `with_model_currency:` aren't helping either.

----------

 With this is

[2018-02-04 15:33] antstorm commented on #293
@KelseyDH what are the errors you're seeing when performing validation? I'll have a look into what's wrong here.

I agree that this library has gone too far along the magic route, but as far as I know it always preferred plug-in-play approach over a thoughtful integration. The problem comes when trying to unwind the magic while supporting all the existing features. If you have thoughts on what cou

[2018-02-04 15:37] antstorm commented on #353
@casiodk think of `no_cents` as truncation and don't use it when you're trying to round the value instead. However the need for truncation without rounding in the world of money is questionable, no doubts.

[2018-02-04 21:04] casiodk commented on #353
Yes when dealing with money, it doesnt make sense, and its really annoying to have to do the correct rounding yourself. :)

[2018-02-04 21:05] casiodk commented on #353
Otherwise a great gem, hope i don´t sound mad, i´m not ;)

[2018-02-05 20:21] antstorm commented on #353
@casiodk there's always a compromise involved — some people will find `no_cents` performing rounding to be unintuitive :)

[2018-02-06 02:16] swrobel commented on #477
Alternatively, it seems you can do the following:

[code]

Since bizarrely, the subunit (_cents column) setter is only overwritten with `write_attribute` [when validations are enabled](https://github.com/RubyMoney/money-rails/blob/v1.10.0/lib/money-rails/active_record/monetizable.rb#L130).

[2018-02-06 12:13] casiodk commented on #353
<%= money_without_cents(Money.new(1066), round: true) %>

=> 11

[2018-02-06 12:13] casiodk commented on #353
could this work then

[2018-02-07 20:22] antstorm commented on #353
@casiodk sure, but do we need this when we can just:

[code]

?

[2018-02-07 20:25] antstorm commented on #477
@swrobel good point, I guess we can override it anyways

[2018-03-07 05:18] jasdeepsingh opened #516 "cannot use this gem in conjunction with config.i18n.fallbacks = true in rails (odd behaviour)"
I spent countless hours debugging this issue and was almost at the verge of having a bald head (due to extensive hair pulling)

Everything was good in development:

### **config/development.rb**
[code]

[code]

Production environment was a whole different ball game:
### **config/production.rb**
[code]

[code]

Setting `config.i18n.fallbacks = false` did the trick for me?

Now, i'm not sure if this

[2018-03-12 20:16] antstorm commented on #396
@naqib83 if you want to set the value in dollars (not in cents) then you should use `transaction_price` param

[2018-03-14 10:29] alexadept commented on #180
it apears due to

`gems/activemodel-5.0.6/lib/active_model/validations/numericality.rb:23`

`
   20:       def validate_each(record, attr_name, value)
   21:         before_type_cast = :"#{attr_name}_before_type_cast"
   22:
=> 23:         raw_value = record.send(before_type_cast) if record.respond_to?(before_type_cast) && record.send(before_type_cast) != value
   24:         raw_value ||= value
`

[2018-03-14 14:14] noelrappin commented on #293
I am also seeing this error on Money 6.10.1, monetize 1.7.0 and Money-Rails 1.10 and Rails 4.2

I think it may be related to a record with multiple money fields and also to a field with a default of zero in the database but which has not been set yet -- ActiveRecord will tell you the field is zero, but the money-rails validation fails. I'll try and get a minimal sample here if I can

[2018-03-17 16:32] antstorm commented on #516
@jasdeepsingh thanks for posing this! I'm looking into the underlying issue, but can not replicate this behaviour. Can you please list the versions of the gems you are using (like `rails`, `money`, `money-rails`, `i18n`)? Also where do the localization rules are coming from, it is `rails-i18n` gem or a custom defined rules? In case it's custom — which rules are you using?

[2018-03-17 17:05] antstorm commented on #180
@alexadept can you share how your validations is defined? Thank you!

[2018-03-21 20:39] amingilani opened #520 "Clarification: periodically updated exchange rate?"
Hi

I'm running the exchange rate for a currency pair that is volatile, can I periodically call `MoneyRails.configure.add_rate` to update the exchange rate, or run a lookup for the exchange rate during each conversation?

This wasn't outlined in the documentation and I think it should be added. I'll create a PR based on this answer.

[2018-03-23 13:07] rolodato commented on #467
@echan00 Not to my knowledge. I'm just getting back into a Rails project so might have some time to work on this in a few days.

[2018-03-23 20:44] antstorm commented on #520
I think both approaches can work, it depends on your particular application and where you are fetching the rates from. Calling `add_rate` will probably be a bit more suited to the majority of cases, however you'll need to make sure there are no race conditions in that call, just in case

[2018-03-26 03:41] amingilani commented on #520
Thanks @antstorm!
I'm planning on storing the exchange rate in a redis database, updated through a separate service, since the application I'm making converts crypto to fiat, and the latest exchange rate is crucial for every trade.

[2018-03-26 03:41] #520 closed

[2018-03-27 18:26] Leohige opened #522 "Thousands separator and decimal mark doesn't change"
I'm trying to change the ``thousands_separator`` to ``.`` but it still remains as ``,``. The same for ``decimal_mark``.

My code:

[code]

[2018-03-28 20:42] antstorm commented on #522
@Leohige can you please share more details on this? What makes you think that these attributes don't change?

[2018-04-01 04:34] Leohige commented on #522
I'm using the ``humanized_money_with_symbol`` to show the money value, but the ``thousands_separator`` and ``decimal_mark`` never changes, but the ``symbol`` always changes.

My model

[code]

[2018-04-10 06:26] damienlethiec opened #524 "undefined method `normalize_formatting_rules' for #<Money fractional:1000 currency:EUR>"
Hello there,

I have just created a new Rails 5.2 app and, when I try to use the helper `humanized_money_with_symbol` with a correct Money object, I get the following error:

`undefined method `normalize_formatting_rules' for #<Money fractional:1000 currency:EUR>`

Any clue of the reason? Any fix?

Thanks a ton :)

[2018-04-10 15:04] PedroPauloML commented on #524
Same error

[2018-04-10 18:19] antstorm commented on #524
Which version of money are you using? This seems to be caused by the new version on money, however `money-rails` depends on `~> 6.10.0`, which should not include the latest release

[2018-04-10 18:57] antstorm commented on #524
This has been fixed by #525. Also new version of the gem has been pushed to RubyGems — https://rubygems.org/gems/money-rails (version 1.11.0). Please upgrade and the issue should go away.

[2018-04-10 18:57] #524 closed

[2018-04-11 10:02] ristovskiv opened #526 "Can I make a PR to update the README for the ':with_currency' option of 'monetize'?"
As I was reading through the code I've noticed that `Attribute Currency (:with_currency)`, besides specifying a currency code as it is currently written, has an option to also accept a [proc, lambda (or any Ruby object that responds to a method named `call`)](https://github.com/RubyMoney/money-rails/blob/master/lib/money-rails/active_record/monetizable.rb#L282) as it value. As far I can see it is

[2018-04-11 20:48] antstorm commented on #526
@ristovskiv I would greatly appreciate you covering these use cases in a README and will gladly accept a PR

[2018-04-16 09:38] ristovskiv commented on #526
@anthonator done
https://github.com/RubyMoney/money-rails/pull/527

[2018-04-16 10:36] samstickland commented on #507
I think this will work if you `prepend` a module instead:

[code]

The problem is that the setter methods are defined (via `define_method`) in your active record class itself, so there is no setter method in `ActiveRecord::Base` to call. Prepending a module however will prepend the method in *your* active record class, so when it calls super it will should call the right methods.. That is, in the

[2018-04-16 21:34] #526 closed

[2018-04-18 07:49] amingilani commented on #507
Thank you!

[2018-04-18 07:49] #507 closed

[2018-05-01 10:59] dinilv opened #528 "gem not working with MONGOID"
HI,

while executing this gem with mongoid model, on save we are always facing same error. added only relevant snippet of code and no other issues are thrown

Can we use any other float or digits for passing value ?

MONGO: 3.4.2
MONGOID: 6.4
RAILS: 5.1.4
RUBY: 2.4.2
MONEY-RAILS: 1.0

ERROR:
_ArgumentError (invalid value for BigDecimal(): "{"cents"=>0.123413e2, "currency_iso"=>"EUR"}"):_

CODE:

_

[2018-05-02 09:12] antstorm commented on #528
@dinilv you are initialising `Money` with a hash, which is not a valid argument. So instead of:

[code]

you should use:

[code]

[2018-05-03 08:00] atitan opened #529 "Update Money to 6.11.1 breaks AR validation"
I have a model using `monetize` from money-rails.

After I updated Money from 6.11.0 to 6.11.1, it now fails AR validation.

The errors message says the monetized attribute is not a number.

It seems [this commit](https://github.com/RubyMoney/money/commit/f260b9dc1dcdca28b67f6b3671c04241f0f89fce) changed `Money.new(1000, 'USD').to_s` from "10.00" to "10.00 USD", and Rails is using regex \d to chec

[2018-05-03 23:04] antstorm commented on #529
@atitan thanks a lot for pointing this out! It seems like the issue is only evident when certain default formatting rules have been applied. I've just pushed a new version 6.11.2 (https://rubygems.org/gems/money) that should have it fixed.

[2018-05-03 23:04] #529 closed

[2018-05-08 10:32] achernik opened #530 "Numericality validation fails for currency with ',' delimiter."
This config leads to failure of numericality validation of `amount` attribute
[code]
[code]

I was able to find the root cause:

In gem Money, new implementation of `#to_s` method uses `currency.decimal_mark` as separator, so `Money.new(0).to_s #=> '0,00'` ([here](https://github.com/RubyMoney/money/blob/f9482a1cb4d5f4901db111563222f8ef7588740a/lib/money/money.rb#L353-L359)).
However, in `money-rai

[2018-05-08 10:33] achernik commented on #530
sorry, I accidentally hit the post button. I'll update issue description

[2018-05-08 10:55] achernik commented on #530
fixed the description

[2018-05-08 22:12] antstorm commented on #530
@achernik thanks a lot for digging into this, really helpful. I'm going to restore the i18n reliance in `#to_s` for now (https://github.com/RubyMoney/money/pull/771), but will figure out a proper solution to this in the next major release of `money`.

[2018-05-09 22:01] antstorm commented on #530
I've pushed a new version with the fix — 6.11.3. I'm closing this issue for now, but feel free to re-open if it didn't work for you or you see any other regressions. Thanks again for reporting this.

[2018-05-09 22:01] #530 closed

[2018-05-10 11:26] achernik commented on #530
This patch fixed the problem, thanks!

[2018-05-17 15:45] ramonmacias opened #533 "undefined method `bson_type' Mongoid"
I have a model in Mongo with a field

field :currency, type: Money::Currency

when I try to save this model the mongoid returns a

NoMethodError: undefined method `bson_type' for #<Money::Currency:0x000000000a44eff8>

the idea is to use for create this

s.currency = Money::Currency.find("eur")

[2018-06-11 14:31] tommyalvarez commented on #449
What happened to this? It's impossible to use money rails on a field through a form for latin american locales

[2018-06-12 08:47] antstorm commented on #449
@jokklan @tommyalvarez are you guys using I18n in your apps? Asking this because in order to parse these values correctly we need to know which symbols should be used as a decimal mark and a thousands separator. `Monetize`can make an intelligent guess, but you won't really want guesswork when it comes to money inputs.

[2018-06-12 12:15] tommyalvarez commented on #449
@antstorm I am using i18n in my app. However my browser/system locale is in another language, easier for programming and keyboard layout, so the input type='number' in chrome accepts '.' only as a decimal mark. That said, from what i understand after reading the html5 specification, form number input values sent to the backend are standarized, locale agnostic and sent as "xx.y" always, respecting

[2018-06-12 13:22] jokklan commented on #449
Hi @antstorm. Yes I'm using I18n as well, and also [rails-i18n](https://github.com/svenfuchs/rails-i18n) which actually has a key for [currency separator](https://github.com/svenfuchs/rails-i18n/blob/master/rails/locale/da.yml#L154)).

However it would also help a lot, to be able to disable the validations on a model-to-model basis, and maybe even include it manually. Somethink like `validate_mone

[2018-06-12 20:05] antstorm commented on #449
@tommyalvarez I completely agree with you on the locale-agnostic side. The problem here is that `money-rails` was made very flexible on the input side, so the problem arises when a string is submitted instead of a number. Unless I'm misreading the problem, but I think that was the original issue in this thread.

@tommyalvarez @jokklan does disabling validation using `disable_validation: true` or `

[2018-06-13 03:36] tommyalvarez commented on #449
@antstorm No they would not work since i need to validate that the number is greater than or equal to 0 with for e.g.:

[code]

`disable_validations: true` or `numericality: false` would go in the opposite direction, letting the model save negative numbers. Unless i can redefine it later with a classic `validates :price_cents, numericality` ...

Is it possible?

[2018-06-20 08:55] antstorm commented on #449
@tommyalvarez it should be possible, have you tried it? So these validations have been somewhat of a pain point and I'm looking into how these can be sorted out. One thing to note here is that there is a flag `subunit_numericality`, which performs the checks on the actual field, rather than a virtual attribute.

[2018-07-06 10:06] achernik commented on #507
There is also another way to handle this problem:

[code]

[2018-08-01 23:16] blairanderson commented on #393
For anyone that wants a quick fix, you can overwrite as_json inside money and things will work as you want.

I used:

[code]

I think a future API could be successful if users could provide a serialization proc/class when calling the `monetize` macro.

[2018-08-03 22:01] antstorm commented on #393
Would it make sense to have this method return `{ fractional: fractional, currency: currency.iso_code }` by default?

[2018-08-09 17:52] gnumarcelo opened #536 "Set currency format in a per-request basis - Rails App"
I am using this gem with mongoid, like below:

[code]

[code]

In my rails app I have many stores, each one with its own currency format. How can I set the currency format in a per-request basis so that all the money objects created/readed uses the store's format?

[code]

ps.: I am trying to find a solution like what I'm currently doing with locale:

[code]

[2018-08-19 13:31] MittchoBaroco opened #538 "Issue with locale and decimal separator"
Hi I am having a issue with validation and the decimal separator.

The app I am doing has two language French and English

On my first try of setting up rails I18n I had the following errors only when I was submitting my form in french.

`Normal price currency not valid: must be a valid currency (e.g.'100','5.24', or'123,456.78'). received 1500.0`

Then I had a parsing to the controller:

[code]

[2018-08-20 09:30] MittchoBaroco commented on #538
thanks @antstorm

so this is my form:
[code]
and the gem is actually doing the right behaviour on Prod but I still need my parsing on development

[2018-08-20 21:36] antstorm commented on #538
@MittchoBaroco hmm, what is actual value being sent to the server on development?

[2018-08-22 08:10] MittchoBaroco commented on #538
@antstorm weirdly if I want to form to save the value (in case of a render for example I need to pass the value manually like this).

[2018-08-22 12:11] MittchoBaroco commented on #538
@antstorm

**My params hash (it's the same depending of locale):**
`<ActionController::Parameters {"title"=>"Nino Retrete", "description"=>"Toute l'école argentine du clown concentrée dans un spectacle tout public", "video_uri"=>"https://www.youtube.com/watch?v=HfBB3g02OzU&t=1586s", "housing"=>"1", "catering"=>"1", "tour_artist_name"=>"Nino Retrete", "tour_caption"=>"Clown", "price_normal"=>"1500.

[2018-09-13 18:19] tommyalvarez commented on #520
@amingilani How did you finally call add_rate dynamically from within your application to update the exchange rates ? I need to do it periodically like you or during certain 'user events' where i need to fetch them in real time.

[2018-09-14 16:27] patleb opened #539 "patch release for monetize 1.9.0"
Would be nice to have a new release for the dependency version of monetize. There is currently a conflict with the new release of Solidus v2.7.0 which depends on monetize ~> 1.8.

[2018-09-16 20:45] antstorm commented on #539
@patleb thanks for reminding, just pushed 1.12.0 with `money` and `monetize` dependencies updated (https://rubygems.org/gems/money-rails)

[2018-09-16 20:45] #539 closed

[2018-09-16 22:54] patleb commented on #539
:+1:

[2018-09-20 10:50] pioz opened #540 "add_money after option does not work"
On a Rails migration like this:
[code]

The option `after` does not work and the fields `total_cents` and `total_currency` are added after updated_at (at the end).

[2018-10-11 00:37] justinlyman opened #543 "Does not play nice with encryption"
I am trying to use money-rails with active record and the symmetric-encryption gem [https://github.com/rocketjob/symmetric-encryption](https://github.com/rocketjob/symmetric-encryption).

Example:
Model: Customer

the column name would be :encrypted_income_cents

I set the field as encrypted in the model with:
`attr_encrypted :income_cents, random_iv: true, :type => :integer`

This gives me the ab

[2018-10-11 03:36] mmahalwy commented on #349
@semmons99 i think this is valid still no?

[2018-10-11 03:51] semmons99 commented on #349
@mmahalwy sure, someone just needs to write the pr

[2018-10-12 18:33] mmahalwy commented on #349
sorry, this works actually. with `amount: { limit: 8 }`

[2018-10-14 09:54] antstorm commented on #349
linking this — #544

[2018-10-14 10:05] antstorm commented on #543
@justinlyman the problem here is that `money-rails` overrides the setter for `income_cents` when validation is used. I'll need to double check why exactly are we doing this.

Looking through the implementation it seems that you can get away with passing `disable_validation: true` to you `monetize` call. This will however disable the validation, but you should be able to implement it yourself using

[2018-10-18 19:53] armchairdj opened #545 "I18n incompatibility"
I'm having problems in my Rails 5.2 app using `money-rails` because of incompatibilities with other gems. Basically, the latest version of `money-rails` uses a version of `money` that relies on an outdated version of `i18n`.

`money-rails 1.12` requires `money 6.12`, which relies on `i18n < 1.1`.

`money 6.13` is out, which finally bumps its support up to `i18n < 2.0`.

The latest version if `i18n

[2018-10-23 23:00] antstorm commented on #545
@armchairdj thanks for reporting, will push out a new version shortly!

[2018-10-23 23:12] armchairdj commented on #545
@antstorm Thanks so much!

[2018-10-24 14:21] noelrappin opened #547 "Using deprecated Money use_i18n"
On validation, the gem is throwing the following message:

`[DEPRECATION] `use_i18n` is deprecated - use `Money.locale_backend = :i18n` instead`

[2018-10-24 18:42] armchairdj opened #548 "Deprecation warnings in gem version 1.13"
Many thanks for the quick release of 1.13 after I filed [this ticket](https://github.com/RubyMoney/money-rails/issues/545).

I've updated to 1.13 and it works great.

However, there's a deprecation in the `money` gem (version 6.13) that requires attention in the next release, because I still get these warnings every time I use one of the helpers:

    [DEPRECATION] `use_i18n` is deprecated - use `

[2018-10-26 14:00] tommyalvarez commented on #206
@drunkonsound and after the initializer? (For example... if the user can update the rates through a form or settings page?)

[2018-10-26 15:17] tommyalvarez commented on #373
@SDEagle this is still open and being 2018 i now have this issue also, exactly the same! With rails 5.2. Did you ever figure it out ?

[2018-10-27 10:47] b-nik commented on #548
There also seem to be deprecations regarding default formatting:

[code]

[2018-10-27 20:43] antstorm commented on #373
@tommyalvarez anything particular about your setup? Can you paste a stack trace? Any change to dig deeper yourself for any clues?

[2018-10-27 22:31] antstorm commented on #548
@b-nik this is intentional. Use `format(format: '...')` instead. More info can be found here — https://github.com/RubyMoney/money/blob/master/lib/money/money/formatter.rb#L217-L219

[2018-10-27 22:34] antstorm commented on #548
@armchairdj looking at a potential solution, but in case you've got time — would totally appreciate a PR 👍 Also bear in mind I've released Money `6.13.1` that clarifies some of these deprecation messages.

[2018-10-27 22:34] antstorm commented on #547
@noelrappin thanks for raising this, looking at it 👍

[2018-10-28 10:12] SDEagle commented on #373
Wow, that was ages ago Sadly, I have no idea anymore. We somehow got around it but I don't remember what we did there.

[2018-10-29 12:17] tommyalvarez commented on #373
@antstorm noting really, pretty standard setup i think. Here goes the backtrace:

[code]

And here is the model using money-rails:

# frozen_string_literal: true
# == Schema Information
#
# Table name: products
#
#  id                      :bigint(8)        not null, primary key
#  code                    :string           not null
#  presentation            :string           not null
#  name

[2018-10-29 14:32] tommyalvarez commented on #452
@S200124 what did you end up doing? That custom tailored method or using decimal column + infinite precision ?

[2018-10-29 14:42] tommyalvarez commented on #106
Instead of duplicating exiting currencies and customizing them, you can deregister and re-register them. I found this solution to be quite good from the following stackoverflow post: https://stackoverflow.com/questions/16130225/rails-money-gem-money-formatting-with-2-cent-digits-but-storing-4-cent-digits.

In short, in an initializer do this:

[code]
Had to google a lot to find this.

[2018-10-29 18:00] S200124 commented on #452
@tommyalvarez I chose the custom method. In my project that solution works fine.

[2018-10-29 18:09] tommyalvarez commented on #452
@S200124 Thanks!

For anyone else reaching here like me, i ended up doing this in an initializer:

[code]

[2018-10-29 20:23] kapso opened #550 "Money.locale_backend change in money gem"
Is there a `money-rails` way of doing this - https://github.com/RubyMoney/money#deprecation

I am seeing this in my logs - `You are using the default localization behaviour that will change in the next major release. Find out more - https://github.com/RubyMoney/money#deprecation`

Currently I have this in my `config/initializers/money.rb`

[code]

[2018-10-30 14:58] b-nik commented on #449
I too came across this today.

1) \<input type=\"number\"\> will always sent a float with a dot separator, which makes sense.
2) Money also validates the price if it's a string, which also makes sense:
[code]

However params get to the controller as string, so the combination of 1 and 2 makes for an interesting bug - not sure what's the best way to tackle it. I wonder if indicating that we want to

[2018-10-30 15:11] tommyalvarez commented on #449
For anyone reaching here, i never tried to use **disable_validation: true**, but did use **numericality: false** on the monetize options. Just added normal validations afterwards to the attribute. Also i surrendered and ended up using this in an initializer:
[code]

Which leaves money-rails locale agnostic for validations

[2018-10-30 15:15] b-nik commented on #449
@tommyalvarez  what happens with this if you provide rubbish to the model?
[code]

[2018-10-30 15:17] tommyalvarez commented on #449
@b-nik you can do:

`validates :price, numericality: {...rails_standard_validations...}`

[2018-10-30 17:38] armchairdj commented on #548
@antstorm Oh, snap! Adding the following line in an initializer:

    Money.locale_backend = :i18n

... totally removes the hundreds of deprecation warnings I was getting in my logs/spec output.

The expanded deprecation messages, with links, in `money 6.13.1` made it much clearer what was going on. Many thanks. I had assumed the deprecation was because of something hard-coded into `money-rails` b

[2018-10-30 17:38] #548 closed

[2018-11-04 21:19] antstorm commented on #548
@armchairdj glad the new version made it clear 👍

[2018-11-05 23:07] antstorm commented on #550
@kapso sorry for a delay. What you have is the correct way of doing this. I don't see a huge benefit of proxying these settings via `MoneyRails.configure`, but I see why this might look confusing

[2018-11-08 12:55] FunkyloverOne opened #551 "Add Mongoid 6.x & Mongoid 7.x specs"
I was trying to do so on my own, but ended up with an endless loop on bundler require, so I cannot run any mongoid specs at all.
Could someone confirm? I'm running ruby 2.5.1 and bundler 1.17.1.

[2018-11-09 23:14] antstorm commented on #551
@FunkyloverOne thank for pointing this out, I've opened a PR — #552

[2018-11-11 16:35] FunkyloverOne commented on #551
Amazing, thanks!

[2018-11-13 22:40] #551 closed

[2018-11-21 13:25] skuark opened #554 "Forms fields invalid format when the i18n locale decimals delimiter is a comma"
Hi. I have a problem with money in an application localized to Spanish.

The default Spanish delimiter for decimals is a comma. If I display a price with the locale backend set to `:i18n`, the price appears ok, with the comma: `21,95 €`.

The problem occurs with the form to edit this price. I use the HTML5 `type="number"` field with the rails `number_field` helper.

[code]

If the locale is set to

[2018-11-23 10:12] skuark commented on #538
@MittchoBaroco Did you find a cleaner approach? Thanks!

[2018-11-23 11:35] skuark commented on #538
I've been able to apply a temporal fix monkey patching the money-rails validator in my `money.rb` initializer, to force the `decimal_mark` and the `thousands_separator` when validating the user input.

[code]

I've combined this hack with the _dirty solution_ I mentioned in #554:

[code]

[2018-11-25 18:11] MittchoBaroco commented on #538
@skuark unfortunalty not yet

[2018-11-27 00:05] antstorm commented on #554
@skuark there are couple of solutions to this that I can think of. Most likely you wanna keep `locale_backend` set to `:i18n`, because that controls your formatted output. In order to force decimal mark be a dot you can pass that as an option to the `#format` — `.format(decimal_mark: '.')`.

But the cleanest solution would probably be using `.to_f` on the money object since you're not looking for

[2018-11-28 14:10] luisbrandao opened #555 "Cant run rake in the new version"
Hello,
I hadnt to my rails code for almost 3 years, and had come back to it this week...
Money gem is acting up now:

i keep hetting the error:

[code]

The migration:
[code]

my money.rb:

[code]

If i remove the config.amount_column = { postfix: '_centavos' } option, the error change to

`ArgumentError: Unable to infer the name of the monetizable attribute for 'precoE_centavos'. Expected amount

[2018-11-28 14:54] FunkyloverOne opened #556 "[QUESTION] Is there any way to configure "whitelisted" currencies for rails app?"
So we could work with only "supported" currencies, and no others?

[2018-12-02 19:56] antstorm commented on #556
@FunkyloverOne there's currently no built-in way of doing this, but you can use some sort of a factory or just a wrapper to check. However I'm open to adding this, got some time to throw together a PR?

[2018-12-03 08:48] FunkyloverOne commented on #556
Yeah, sure. I already have super basic custom validator for models in my code here:
[code]

But I'm not sure if this is going to work on ActiveRecord models, I'm using it with Mongoid, so I have a special `Money` type, so the `value` here in my code is a `Money` object.

And I'm using it in my models like this:
[code]

Naming might be better I believe :)

[2018-12-06 15:38] Joerg-Seitz commented on #547
Made a pr for it https://github.com/RubyMoney/money-rails/pull/558

[2018-12-07 12:21] FunkyloverOne commented on #556
Hold on, I did a dumb thing, right? :) You got your own money validator, I just didn't see any examples of it's usage with mongoid in your readme... @antstorm

[2018-12-09 04:10] codeodor commented on #550
So how do we fix it so we no longer see the deprecation warning, and feel comfortable we're ready for the upgrade to the next major release of `Money`?

[2018-12-09 21:16] antstorm commented on #550
@codeodor just set the `Money.locale_backend` to a value that fits your app best. More info — https://github.com/RubyMoney/money#deprecation

[2018-12-09 21:37] antstorm commented on #556
@FunkyloverOne yep, that validator was meant for `ActiveRecord` even though it says it's for `ActiveModel` :) I'm not too familiar with Mongoid's validation and whether it uses `ActiveModel` underneath, but something similar to what you posted looks like a good solution

[2018-12-09 21:50] antstorm commented on #547
@Joerg-Seitz thanks for looking into this! 👍

[2018-12-14 12:35] FunkyloverOne commented on #556
@antstorm it does use it underneath, and we already came up with this quite handy validator for Mongoid:
[code]

Which allows us to write code like this:
[code]
Which will apply `greater_than: 0` validation for **all** currencies, and also some additional validations for specific currencies.

[2018-12-17 23:37] antstorm commented on #556
@FunkyloverOne oh, interesting. Would be open for a PR that makes our current validator compatible with Mongoid or in case these are too different — similar validator that is loaded conditionally

[2018-12-18 14:19] FunkyloverOne commented on #556
@antstorm I don't think those two validators could be combined well together...
Well at least I guess it will be easier to start with separate validators for beginning.
Currently I see that our validator for mongoid is missing all the string raw value parsing stuff. I will try to work on some PR later, will see what can be done :)

[2018-12-18 23:42] antstorm commented on #556
Sounds good, feel free to ping me an early version of that PR, I'll help you with the direction

[2019-01-09 23:15] antstorm commented on #555
@luisbrandao terribly sorry for a delay — holidays and all. So it looks like what needs updating here is your migration — nest your options under `amount`:

[code]

This will make sure that your inline options are taken into account. But a bigger problem is with `config.amount_column`, which you override with just one value, essentially removing all the other attributes. You'd need something like:

[2019-01-20 23:39] antstorm commented on #547
FYI, #558 is now merged and included in `1.13.1`

[2019-01-20 23:39] #547 closed

[2019-01-26 01:52] mltsy opened #561 "It's hard to validate numericality in MongoID"
The built in validations only seem to be included with ActiveRecord, but using MongoId's built-in `numericality` validator raises a Money exception, so there's no easy way to validate numericality of a Money field in MongoID without writing a custom validation method.

[2019-01-29 22:13] antstorm commented on #561
@mltsy what is the current behaviour when supplied with an invalid data? From looking at the code it seems like it will raise an error because `Money` will fail to initialize. Or do you need a more specific validation like gte, range, etc?

[2019-01-29 22:36] mltsy commented on #561
I was looking for a greater_than validation.  Actually though, it doesn't even raise an exception, if you give it a string like `"moneys"` it will just set the value to 0 (which is very odd).  I think it's calling `to_money` on the string, which for some reason returns a Money of 0 rather than raising an exception.

[2019-02-01 20:07] antstorm commented on #561
@mltsy this is odd, agree. I'll put it on my TODO, but feel free to submit a PR meanwhile if you have a solution in mind

[2019-02-19 16:39] FunkyloverOne commented on #561
Hey @mltsy , take a look at my custom validator for mongoid I've posted in this comment:
https://github.com/RubyMoney/money-rails/issues/556#issuecomment-447312371

I'm using it in production for a while, it's still missing some fancy parts (like advanced string parsing).

I had no need for that stuff and didn't yet implemented it (I mean when your server receives input in string like `"$99.98"`).

[2019-02-20 20:44] mltsy commented on #561
Very nice!  I ended up just using a custom validation method in my case, but that's a real nice validator you got there! ⭐️

[2019-02-21 22:20] antstorm commented on #561
@FunkyloverOne sounds great! You wanna give it a shot?

[2019-02-22 10:42] pioz commented on #554
Same problem, really annoying... Any workaround?

[2019-02-22 12:09] skuark commented on #554
@pioz Take a look to my comment here: https://github.com/RubyMoney/money-rails/issues/538#issuecomment-441218984

I hope that this workaround help you.

[2019-03-15 01:14] hudakh commented on #393
Any update on this?

[2019-03-15 10:46] gvpmahesh commented on #293
You can circumvent this issue by providing allow_nil to true
`monetize :bla_bla_bla_cents, :allow_nil => true`

[2019-03-15 12:11] luizkowalski opened #562 "formatting stopped work after upgrade"
I have some tests as follow in my app:

[code]

we updated from 1.8.0 to 1.13.1 (we are in the process to update Ruby and Rails) and now these tests are failing.

first, `orig_format` doesn't seems to exist anymore and I changed to `format`.
second, now I don't have the currency symbol anymore when using `format`

[code]

and

[code]

This is my configuration

[code]

I already tried to use differ

[2019-03-15 17:38] FunkyloverOne commented on #393
If you're already using active_model_serializers, you can simply create custom serializer for Money objects, here's mine for example:
[code]

And then inside other serializers use `has_one` method for money fields, like this:
[code]

[2019-03-30 10:35] antstorm commented on #562
@luizkowalski sorry to hear that you're having issues. From what I can see — you've got `symbol: nil` specified in the `config.default_format`. This prevents the formatter from outputting the symbol. Has your config changed since `1.8.0`?

[2019-04-02 03:17] Uysim opened #566 "Can not work with attr_accessor"
Example
[code]

It can not work because of after_save https://github.com/RubyMoney/money-rails/blob/07dec61e624dbbc6a0662cc5803cb93b8a64505a/lib/money-rails/active_record/monetizable.rb#L148

[2019-04-02 07:35] sabatesduran commented on #554
I have the same problem.

I changed the `number_field` with a `text_field` that has a JS event listener function to parse it to a comma using `Number.prototype.toLocalString`.

I have two languages in my website `:en` and `:nl` all works with comma when I'm in the Dutch website but not when I'm in the English one and I have already changed the `backend_locale` to `:currency`.

I could use I18n to

[2019-04-03 09:17] luizkowalski commented on #562
no, it didn't change

[2019-04-03 23:41] antstorm commented on #566
@Uysim this is a really valid concern as it shouldn't depend on `ActiveRecord`. It has been marked as `TODO`, but never fixed — https://github.com/RubyMoney/money-rails/blob/master/lib/money-rails/active_record/monetizable.rb#L147. Would you be interested in coming up with a PR?

[2019-04-03 23:44] antstorm commented on #562
@luizkowalski did removing `symbol: nil` worked for you?

[2019-04-04 01:00] antstorm commented on #554
FYI, I've opened a PR that will respect your `Money.locale_backend` settings when performing input validations — #567.

[2019-04-04 01:02] antstorm commented on #538
FYI, I've opened a PR that will respect your `Money.locale_backend` settings when performing input validations — #567. This might solve some of the problems here

[2019-04-04 07:46] luizkowalski commented on #562
no, either with or without `symbol: nil` works. I had to format what I want in place

[2019-04-04 11:17] antstorm commented on #562
I had a deeper look at `1.8.0`, trying to figure out what changed since. Couple of findings:

- `orig_format` was never meant to be part of the public interface, it's just aliased `Money#format` that is being slightly modified to accept defaults from your `MoneyRails.configure` call

- calling it directly means that previously all your configuration that wasn't passed in directly was ignored. So t

[2019-04-04 12:27] antstorm commented on #393
In case people still wanna stick to `as_json`, here's a PR — #568

[2019-04-04 12:28] antstorm commented on #373
#568

[2019-04-05 08:43] luizkowalski commented on #562
`MoneyRails::Configuration.symbol`: `nil`

[code]

that was exactly our problem, there was a snippet in our app calling `orig_format` and our tests broke at that point. I tried to configure it globally (we need two formatting: EUR and PLN) but the formatting through locale didn't work at all so I fall back to call `format` straight in the code instead of having it globally. Our locale_backend is `

[2019-04-14 21:58] antstorm commented on #562
@luizkowalski try changing `symbol` value to `true`, that should instruct the formatter to include a symbol

[2019-04-16 02:56] hiattp commented on #373
Looking forward to https://github.com/RubyMoney/money-rails/pull/568, we have the exact same setup and issue as @tommyalvarez (Rails 5.2.3, Money 6.13.1, Money-Rails 1.13.0, Fast JSON API 1.5). Interestingly, monkey patching an `as_json` method seems to mitigate but not completely sidestep the issue. Haven't dug much further yet than to notice that

[2019-04-17 09:41] luizkowalski commented on #562
the problem is that we are dealing with two currencies: EUR and PLN. before the upgrade, the whole localization thing was working fine. tried with `symbol: true` but it formats everything to one currency (either EUR or PLN), ignoring the currency set.

We are going to format these in place from now on. Thanks for the help!

[2019-04-17 09:41] #562 closed

[2019-04-17 22:09] antstorm commented on #562
@luizkowalski any chance you can debug it? I'm pretty keen on solving this issue as others might be experiencing it as well

[2019-04-17 22:11] luizkowalski commented on #562
@antstorm ok, I can try, give me some days 😄

[2019-04-17 22:26] antstorm commented on #562
sure, no problem!

[2019-04-17 22:48] antstorm commented on #373
@hiattp the PR's merged now. I wonder if that will work with Fast JSON API, need to have a closer look at it

[2019-04-18 03:02] hiattp commented on #373
Thanks @antstorm, will check it out with the next money-rails release 👍

[2019-04-18 03:47] hiattp commented on #373
Just introduced your change in a simple monkey patch to test it out—unfortunately fast json api overwrites the `to_json` implementation (afaict) so overwriting `to_hash`, `to_json` or `as_json` doesn't have an effect. The best way around this issue for fast json api seems to be specifically overriding each money attribute so that the serializer never sees a raw money object.

[2019-04-19 10:15] antstorm commented on #373
@hiattp digging through the Fast JSON API a little bit, it seems that it will always just use whatever is returned by the attribute (https://github.com/Netflix/fast_jsonapi/blob/5ff3fa97dae4b6be51bf8ec315cb427667c4ce96/lib/fast_jsonapi/attribute.rb) and pass it straight to the encoder (it does not encode objects itself). I also didn't find any good opportunities to extend it.

One potential workar

[2019-04-19 15:01] hiattp commented on #373
Cool thanks for the idea and the deeper dive! Sounds like we have a consensus that Fast JSON API needs a bit of special handling to avoid this issue when using an exchange, there isn't much money-rails can do to mitigate it 👍

[2019-04-20 09:23] antstorm commented on #373
@hiattp unfortunately that is what it looks like. However if you find a way — please let me know 👍

[2019-04-20 09:35] antstorm commented on #373
@hiattp one other finding — it seems that some encoders will allow this behaviour. For example, Oj has this option — https://github.com/ohler55/oj/blob/master/pages/Options.md#use_to_hash-boolean.

[2019-04-21 20:50] danielricecodes commented on #435
This issue is 3 years old.  I will close it :)

[2019-04-21 20:50] #435 closed

[2019-04-24 13:04] ditsara opened #569 "add locale_backend to configuration template"
From reading the code, it looks like `MoneyRails.configure` delegates `locale_backend`, so you can deal with this issue>(https://github.com/RubyMoney/money#deprecation) within the `configure` block.

Can we add a comment for this setting to `lib/money-rails/configuration.rb` to make this clear to future users? Happy to submit a small PR if requested.

[2019-04-28 21:30] antstorm commented on #569
@ditsara yeah, absolutely, happy to merge your PR 👍

[2019-05-06 08:14] tibra commented on #522
I'm also having the issue: the separators are just ignored, ie.:
[code]
results in €37.200. But I've found a workaround by uncommenting the `default_formats`:
[code]

This results in €37%200, so the default formats is being used, but the `register_currency` format would still be ignored (but up there in `register_currency`, options like `sign_before_symbol` work just fine).

[2019-05-07 20:48] antstorm commented on #522
@tibra what is `Money.locale_backend` set to in your app? It needs to be set to `:currency` to respect settings based on currency. This is however not suggested as it should be driven by locale, not the currency (e.g. people in US would use the same formatting for any currency, not just USD)

[2019-05-07 20:52] #569 closed

[2019-05-08 06:35] tibra commented on #522
@antstorm It seems there is no method for it. In this particular app, the gem is locked to v 1.11.0. In another app, this method works and we have the gem at 1.13.1 there.
[code]

I've now upgraded to 1.13.2, resulting in:
[code]

[2019-05-09 22:19] antstorm commented on #522
@tibra I see, does it work as expected now?

[2019-05-18 21:04] mmahalwy opened #571 "group and sum calculations"
Noticed this issue which might be a bit dated: https://github.com/RubyMoney/money-rails/issues/497

Curious what's the best way to do things like `#group` with `#sum` or any active record calculations? Right now, I have it return the numbers in cents which I have to then convert to `Money` object.

[2019-05-20 22:23] antstorm commented on #571
@mmahalwy yeah, thanks for reminding, I need to pick it up again. Not entirely sure how the `#sum` would work, though, as you would probably need to group in order to calculate a sum…

[2019-05-21 21:09] mmahalwy commented on #571
@antstorm correct. I am not a sql wizard sadly. The way I solved it is through plain old `group_by` but feel it's not scalable with large datasets.

[2019-05-25 10:33] antstorm commented on #571
@mmahalwy yep, which just might be the best way of doing it. The reason being that these query methods are supposed to translate directly to SQL. This way you are sort of writing SQL, but using a DSL. Which is why `#sum` that not only adds a `SUM(amount_cents)`, but also `GROUP BY amount_currency` might be confusing in some cases.

[2019-07-05 02:54] alexeckermann opened #572 "Duplicate method call in currency_for monetizable concern"
By chance, I noticed that the `currency_for` method is calling `Money::Currency.find(public_send(instance_currency_name))` twice seemingly unnecessarily. It looks like a mistake given the indenting also being odd.

https://github.com/RubyMoney/money-rails/blob/dafd19593fe20a30c831f6b6a4a86e2335315575/lib/money-rails/active_record/monetizable.rb#L279..282

[2019-07-05 03:03] alexeckermann commented on #572
Apologies. It is simply the previous line overflowing.

[2019-07-05 03:03] #572 closed

[2019-08-20 01:31] exadeci opened #575 "Currency object save order"
Similarly to https://github.com/RubyMoney/money-rails/issues/445
[code]

Fails to set the amount:
`Price.create( "current_amount"=>500, "account_id"=>1315)`
Sets the amount correctly:
`Price.create( "account_id"=>1315, "current_amount"=>500)`

A work around I've found is changing the order with strong parameters as my Price is created from an API controller.
[code]

[2019-09-14 17:58] timscott opened #577 "undefined method `monetize' upon rake"
I'm having the same problem as https://github.com/RubyMoney/money-rails/issues/476, but the solutions mentioned there do not apply. I get this error _only_ on rake tasks, not on `rails s`, `rails c` or `rspec`.

[code]

[code]

[code]

I was able to run that migration by commenting the lines in the model. Everything seems to work fine, except I can run further migrations or any rake tasks.

I've t

[2019-09-20 09:40] trushkevich opened #578 "Inconsistent behavior related to memoization"
Hello!

I have a workflow where an user can setup for a record a currency and amount. Later he can update both currency and amount (for example he can switch from 100 EUR to 0.0001 BTC). Here is the issue. Compare this:
[code]
to this:
[code]
Behavior in the latter example is pretty unexpected obviously. I investigated and found that the issue occurs due to the memoization logic implemented around

[2019-09-20 12:40] trushkevich opened #579 "Dependency on the params order"
This issue is partially linked to the issue https://github.com/RubyMoney/money-rails/issues/578

As a fix for https://github.com/RubyMoney/money-rails/issues/578 my idea was to make this change near https://github.com/RubyMoney/money-rails/blob/master/lib/money-rails/active_record/monetizable.rb#L193 :
[code]
But after that these specs started failing:
https://github.com/RubyMoney/money-rails/blob

[2019-09-23 21:32] antstorm commented on #579
Agree, this is a known, but somewhat not too often seen issue. I think it's worth solving independently of #578. I guess we can store the param that was passed in directly in units (not subunits) and re-asigned the monetized attribute in case currency changes.

Feel free to open another PR or in case you're busy I can pick this one up.

Thanks for raising this, btw 👍

[2019-09-23 21:40] antstorm commented on #578
That's a very good catch 👍

There's also a chance that memoization does not really make things much better here, so the path forward might be just getting rid of it. Also the whole idea of a getter method mutating the object should go away if possible.

Definitely happy to review a PR, but tell me if you don't have time and I'll look into this.

[2019-09-23 21:52] antstorm commented on #577
@timscott anything specific about your setup that might be messing things up?

Try adding `include MoneyRails::ActiveRecord::Monetizable` to your model, which is what apparently isn't happening automatically for some reason.

One potential issue might be that you're not loading your environment within your rake task, e.g. `task my_task: :environment do ...`

[2019-09-23 21:58] antstorm commented on #575
Also raised in #579

A short term fix seems to be using `current_amount_cents` instead, but you would need to pass in cents instead of dollars (whole units).

But we'll come up with a long-term solution soon, which you are free to help with

[2019-09-23 22:54] exadeci commented on #575
Yeah I had noticed that too but it's an API and I can't change the units at will and I prefer not to convert them more than required.

[2019-09-29 16:26] 0urobor0s opened #580 "Best way to localize humanized_money_with_symbol"
The views use `humanized_money_with_symbol @money_object` but it doesn't output the correct format for the current locale.
Option `Money.locale_backend = :i18n` is also set.
To fix this, currently we use `humanized_money_with_symbol @money_object, {format: I18n.t("number.currency.format.format")}`
Is there a better way to do this? Maybe a new helper `humanized_money_with_symbol_with_locale`?

[2019-09-29 20:22] timscott commented on #577
@antstorm - I added `include MoneyRails::ActiveRecord::Monetizable` in the class where the trouble is. I get this error now:

For good measure I added this in the file:

[code]

Same result.

[2019-09-30 20:01] andrepcg commented on #577
I'm having the same issue.

ruby 2.6.1
rails 6.0.0

[code]

[2019-10-07 20:08] MatheusHH opened #581 "Problems on create"
Hi guys,

 When i try to create a record where it has a  money attribute, i receive a error message: "Price cents is not a number" when i type 60,56 using comma. if i type 60.56 my index shows 60 only. i don't know what can be happening because when i test it in rails c, everything is right. The problem is on view.

[2019-10-07 21:05] MatheusHH commented on #581
Solved withdrawing sufix cents from view.

[2019-10-07 21:05] #581 closed

[2019-10-09 06:50] nitsujri opened #582 "Config's default_format being ignored"
Ruby: 2.6.5
Rails: 6.0.0
MoneyRails: 1.13.2

It appears the `default_format` isn't being considered

[code]
[code]
[code]

Here's an empty project exhibiting the behavior - empty rails and money-rails being the only thing added with init.

https://github.com/nitsujri/money-default-format-issues

Thanks for this great gem! -Justin

[2019-10-12 11:07] antstorm commented on #577
@timscott I'm glad you've figured it out. I also wonder if you need to explicitly require the model vs relying on Rails' autoloader? That would have happened within the task when stumbling upon a missing constant `TheModelWithMonteizeMacros`, but the env would have already be loaded

[2019-10-12 12:40] andrepcg commented on #577
My problem was actually related with Spring. Had to run bin/spring stop to
make it work. Spring sometimes fails to read newly added files

On Sat, 12 Oct 2019, 12:07 Anthony Dmitriyev, <notifications@github.com>
wrote:

[2019-10-16 21:51] antstorm commented on #582
This looks like a default behaviour:

So `humanized_money` will ignore `config.default_format = { no_cents_if_whole: false }` if you don't set `config.no_cents_if_whole = false`.

But I agree that it's confusing and doesn't make much sense. I think the intention was not to let `default_format` affect `humanized_money`, but expose some configurability via `MoneyRails::Configuration.no_cents_if_whol

[2019-10-16 22:00] antstorm commented on #580
@0urobor0s version 6 of `Money` doesn't support localizing `format` as there are a few legacy limitations. This will be available once version 7 (https://github.com/RubyMoney/money/pull/872) is released. Hopefully it's not too much of a problem right now

[2019-10-18 06:11] nitsujri commented on #582
@antstorm, Ah I see that now and you're right. That is quite confusing, but it is what it is. I'll close this since it's expected behavior.

[2019-10-18 06:11] #582 closed

[2019-10-19 10:35] 0urobor0s commented on #580
@antstorm no problem, will refactor once version 7 is out

[2019-10-19 10:35] #580 closed

[2019-10-21 09:22] stuartgibson opened #585 "Default serialization introduces breaking changes in minor point release"
https://github.com/RubyMoney/money-rails/pull/568

The new default serialization introduced in 1.13.2 -> 1.13.3 breaks any apps that relied on the old default of serializing the complete object. This includes anyone using the common 0.10.x branch of Active Model Serializers, where including the name of the money field would include the whole object, including the currency.

This is against expecta

[2019-11-07 11:27] rikas commented on #487
Same problem here! :(

[2019-11-16 02:26] benbagley opened #586 "Showing multiple currencies"
I need a little bit of help, I'm looking to show the cost of a collection in multiple currencies, gbp, usd and eur.
I've installed the gem, updated my database and I have GBP price as default and it's showing.

I've added the rate configs

[code]
and registered the currencies in the model

[code]

How do I go about showing all three currency prices with the symbols, based on the exchange rate?

[2019-11-20 09:20] trushkevich commented on #579
Sorry for such a late response, have been trying to find time, but no luck unfortunately. So probably it will be more efficient if you could take a look at this.

[2019-11-20 09:21] trushkevich commented on #578
Sorry for such a late response, have been trying to find time, but no luck unfortunately. So probably it will be more efficient if you could take a look at this. (same as #579)

[2019-11-21 17:13] estani opened #587 "money_without_cents_and_with_symbol uses space instead of &nbsp;"
money_without_cents_and_with_symbol results in something, e.g. like "27.345 €" with a **normal** space between the number and the symbol. This allows the symbol to be split apart from the number, like this:
![image](https://user-images.githubusercontent.com/1331850/69359924-dca3da00-0c89-11ea-9fd8-2b1dca3ee949.png)

To avoid that the space needs to be replaced by the &nbsp; entity: "27.345&nbsp;€"

[2019-11-27 00:14] antstorm commented on #585
@stuartgibson thanks for flagging and sorry for breaking this in your app. I really hope you hard specs to catch this before hitting production.

As for the SemVer argument — the PR in question adds a new method that **was not** defined prior to 1.13.3 (1.13.2 raises `undefined method `to_hash' for #<Money>`, as expected). It's pretty hard to take into account all the possible implicit dependencie

[2019-11-27 00:41] antstorm commented on #487
@gregpardo @rikas any of you up for a quick PR to fix this?

[2019-11-27 00:58] antstorm commented on #586
@benbagley so `register_currency` is a bit of a poorly named method, but it essentially makes the passed in currency the default currency for all the monetized attributes on your model. It is also expected to be only called once per model, subsequent calls just override the values.

`with_currency` sets the currency value for a specific memoized attribute. In you case this renders previous `regist

[2019-12-07 13:33] antstorm commented on #587
@estani that's a good point and I'm happy to accept a PR that introduces this option.

As for a workaround — you can use `money_without_cents(amount, symbol: true, format: '%n&nbsp;%u')` to achieve this result. Note that with this approach locale will no longer affect the order of number and symbol (it will however affect the number formatting).

[2019-12-08 12:11] estani commented on #587
ok, that's a possibility indeed.
Currently, I'm using
[code]
(or just `"\u00A0"` if not html) which doesn't mess with the position of the symbol.

Actually this is badly implemented in Rails itself, mentioned already in 2008.
I've added an issue there too: https://github.com/rails/rails/issues/37912

Not sure how this gem relates to number_to_currency, perhaps if it's solved there it will be solve

[2019-12-10 17:52] estani commented on #587
I followed the rails problem to the centra rails-i18n configurations (which we copied, so I can fixed it for us pretty simply). Pretty much following your advice, but centrally in `active_record.de.yml` changing:
[code]
to
[code]
And now rails behave properly:
[code]

Sadly that's not the case for money-rails:
[code]

I'm still trying to figure out where this is happening, I've tried adding `:form

[2019-12-12 09:45] juzerali opened #589 "NameError: instance variable @_currency not defined"
We have a high throughput application ~21k RPM. We are facing an issue with validator. About 1% of requests raises `NameError: instance variable @_currency not defined` at [this line](https://github.com/RubyMoney/money-rails/blob/master/lib/money-rails/active_model/validator.rb#L59).

Gemfile
`gem 'money-rails', '~>1.13'`

From the code it seems this error should never get raised, since it perform

[2019-12-14 12:07] antstorm commented on #589
@juzerali appreciate the PR, but I'd love a proper fix for the issue. Can you post a stack trace of the error here so I can have a look at the possible cause?

I suspect a race condition where the instance variable is present at the condition time, but is already removed by another thread before `remove_instance_variable` call

[2019-12-16 09:33] dgp commented on #589
@antstorm, here is the stack trace. this is happening intermediately.
org/jruby/RubyKernel.java:2239:in `remove_instance_variable'…rails-1.13.3/lib/money-rails/active_model/validator.rb:   59:in `block in reset_memoized_variables!'org/jruby/RubyArray.java:1792:in `each'…rails-1.13.3/lib/money-rails/active_model/validator.rb:   56:in `reset_memoized_variables!'…rails-1.13.3/lib/money-rails/active_m

[2019-12-20 00:29] antstorm commented on #589
@dgp I see, this is pretty much expected and doesn't point out the problem. Is there a chance that an instance of this model is shared across different threads?

[2019-12-20 13:27] juzerali commented on #589
It's a usual web application but with a very high throughput. If I haven't
mentioned already, the peak hour throughput is ~50k rpm. It's possible that
same entity is being referenced from multiple threads. But we don't share
the same instance between threads.

On Fri, 20 Dec, 2019, 5:59 AM Anthony Dmitriyev, <notifications@github.com>
wrote:

[2019-12-30 12:02] antstorm commented on #589
@dgp @juzerali can you please paste your model with attribute validation definitions?

From what I can tell — it's very likely caused by a race condition. From the stacktrace it also looks like Rails might be initializing validators ahead of time, which means they are likely to stay around for each instance, so a race condition is possible in a multi-threaded env

[2019-12-30 12:10] antstorm commented on #589
Oh… ok, digging deeper into Rails' internals — it caches validator instances on a model class :/ Which means that caching anything model-instance specific within a validator is very unsafe as it can potentially override shared data and cause problems. I'll find a solution for this issue, hold on

[2019-12-31 00:01] antstorm commented on #589
Opened a PR ^, can you please try and test this against your setup to make sure it works as expected

[2019-12-31 05:46] juzerali commented on #589
@antstorm only way for us to test this is to deploy it to production. Are you sure about the changes in the PR. I see that travis-ci build is failing on the PR.

[2020-01-01 20:44] antstorm commented on #589
@juzerali pretty sure about the changes (CI failures are unrelated — ActiveSupport accidentally broke ruby < 2.3 support, which should be fixed on their end), but don't wanna put you in the spot so it's your call. Do you have specs in place? Do you support canary deployments?

[2020-01-07 12:59] theodorton commented on #585
Another breaking change here when a money object is passed to a method wrapped in a `with_options` block. Minimum reproducible example in the following repository: https://github.com/theodorton/money-rails-bug-to-hash

[2020-01-11 16:50] #589 closed

[2020-01-20 07:23] indifferentalex commented on #516
We had a very similar issue, perhaps it was the case here as well, although I understand that it might not be of much use posting it now seeing the date the issue was opened:

For us it was incorrectly set translation strings for I18n currencies, we had set the `currency` key at the same level of the `number` key, instead, as per the [docs](https://github.com/RubyMoney/money#localization), it shou

[2020-02-09 20:26] antstorm commented on #516
@jasdeepsingh can you please confirm that the proposed solution solves your issue?

@indifferentalex thanks for posting! 👍

[2020-03-30 17:14] micdahl commented on #554
Does that resolve the initial problem and if how? Still ran into this problem.

My current workaround is the following helper, which is a generalisation of @skuark`s initial approach:

[code]

Just implemented, but seems to work. Still not very nice in my opinion, as it is something which should run out of the box on my belief. But as a workaround it seems ok. Even not sure, if the underlaying pro

[2020-04-02 12:44] pioz commented on #540
It seems that the option `after` is not documented, but exist and works well with `add_column`.

[2020-04-02 13:00] pioz commented on #540
In this line of code https://github.com/RubyMoney/money-rails/blob/6151ca20fe9c44120912523bab763e06da87c10c/lib/money-rails/active_record/migration_extensions/options_extractor.rb#L6

you merge only `options[attribute]`, and in this way you skip the `{ after: :column_name }` option, cause in a migration like this
[code]
`options` is exactly `{ after: :quantity }`.

[2020-04-02 13:37] nerburish commented on #106
Hi all,
There has been any change on this issue?
I have a mysql db with prices stored as decimal (8 precision with 2 decimals) and that cannot be changed easily.
However, I want to use the Money logic (convert to cents, exchanges, etc).

Its possible to use money-rails with this column type or is mandatory use integer or decimal without comma digits?

If it is not possible, I think that would be a

[2020-04-11 10:10] antstorm commented on #106
@nerburish agree, this does sound like a good improvement. I think this can be achieved via adding a new option to the backend. Would you be up for submitting a PR? Happy to help you with getting it merged

[2020-04-11 10:12] antstorm commented on #540
@pioz I see, that makes sense. Would you be up for fixing this?

[2020-04-11 10:36] antstorm commented on #554
@micdahl the linked PR fixes validation on the backend, but still won't fix the displayed format. And I don't think this can be fixed on the gem's side because `f.number_field :price` won't tell the attribute how it wants it to be formatted. Couple of options here:

1. Redefine `Money#to_s` to add `decimal_mark: '.'` to the `format` call. But make sure to use `.format` (not `.to_s`) whenever you n

[2020-04-29 16:50] jattoabdul commented on #528
`with_model_currency:` option doesn't work with rails6 mongoid v7.

[code]

Getting the following error:
[code]
Any help would be appreciated.

[2020-04-29 17:44] jattoabdul opened #596 "Using money-rails with mongoid: How to set currency per model instance"
I'm currently using:

money-rails v1.12
rails v6
mongoid v7

I would like to set the default currency to be used by each model instance.

I have set the field in my model like below

`field :price, type: Money, with_model_currency: :currency`

But when I try to create or fetch records I get this error

[code]
How do I use the `with_model_currency` option in a rails mongoid application?
How else ca

[2020-05-04 13:04] nerburish commented on #106
Hi @antstorm,
I could give it a try. However, I never used money-rails before and then don't know how it works in detail.
I was thinking to use it in my app until I saw that limitation.

[2020-05-04 14:52] nerburish commented on #106
Hi again, @antstorm
I was looking inside the code and trying some "hacks" and could get an idea that could work.
However, I'm not sure if this could have futher implications as I saw that the code have many cases depending the Dbs, config, etc...

At first, I tried to set the config as decimal with options that we need (precision and scale).
Since the gem delegates in migration column options it c

[2020-05-04 22:54] ludofleury opened #597 "Soft "raise_error_on_money_parsing" behavior triggering validation error"
Hey,
First, thank you very much for this lib/gem.

I started to look at the code, so I found `raise_error_on_money_parsing` which is pretty defensive, I'm not an expert in ActiveRecord & validation extension capability, is there any way to get a middle ground which could add a validation error instead of raising an error?

-------
**DISCARDED ORIGINAL ISSUE**

I came across a very surprising behav

[2020-05-04 23:39] ludofleury commented on #597
I started to look at the code, so I found `raise_error_on_money_parsing` which this time is pretty defensive :)

I'm not an expert in ActiveRecord & validation extension capability, is there any way to get a middle ground which could add a validation error?

[2020-05-09 22:25] antstorm commented on #106
@nerburish glad you're looking into this. So to make matters easier — the conversion between int and decimal can be performed the core `money` gem. You should be able to do something like `Money.new(int_amount).to_f` and then `Money.from_amount(decimal_amount)`

[2020-05-09 22:36] antstorm commented on #597
@ludofleury I really like this direction, I think implicit currency conversion can be potentially unsafe and should be turned off by default. You should be able to add a new validation rule to the `lib/money-rails/active_model/validator.rb` and fail on currency mismatch. Please tell me if you need more help in implementing it

[2020-05-09 23:16] antstorm commented on #596
@jattoabdul money works a bit differently with `mongoid` compare to `activerecord`. Since `mongo` can have nested fields, specifying the `type: Money` should enable serialization/deserialization for you.

`with_model_currency` (along with most other ones) is the options available on `activerecord` only.

[2020-05-09 23:17] antstorm commented on #528
@jattoabdul I've just left an answer in your other issue

[2020-05-09 23:17] #528 closed

[2020-05-30 20:01] grdmnt opened #598 "Migration Helper Deprecation Warning (Ruby 2.7.1)"
When using the migration helper, `t.monetize :field`, and you run `db:migrate`, it raises a deprecating warning.

`/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/money-rails-1.13.3/lib/money-rails/active_record/migration_extensions/table_pg_rails4.rb:8: warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call`

I'm running ruby 2.7.1 with rails 6.

[2020-06-14 16:30] bsh185 commented on #598
Im  facing the same warning as well.

`/.rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/money-rails-1.13.3/lib/money-rails/active_record/migration_extensions/table_pg_rails4.rb:8: warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call`

[2020-06-21 17:55] GoktugOzturk commented on #598
This is caused by a change implemented at ruby 2.7/3.0

There is a big topic on rubyonrails.org which explains the cause and possible solutions about this. https://discuss.rubyonrails.org/t/new-2-7-3-0-keyword-argument-pain-point/74980

[2020-06-29 01:19] szechyjs opened #601 "Rails 6.1 deprecation"
[code]

Very soon `update_attributes` will be removed from rails. Fortunately it's only used in specs, unfortunately the replacement `update` is not available until rails v4 (currently money-rails still supports rails 3).

[2020-06-29 11:23] antstorm commented on #601
I see, thank you for flagging this 👍 It's probably time to drop support for older Rails versions

[2020-07-04 10:34] vladprotsevich commented on #524
Hi! Did u find a way how to solve that issue? I updated my gem to 1.13.3 but that problem not disappear

[2020-07-07 21:15] antstorm commented on #598
This requires dropping support for older rubies to address. Coordinating a 2.0.0 release that will include the fix

[2020-08-14 09:23] NBuhinicek commented on #510
Hey @antstorm, I got a similar question. I want to make `default bank` to be tenanted, was hopping for something as you did for the initialisation of currency.

`config.default_currency = -> { Tenant.tenant.currency }`

Any ideas how to tackle that?

[2020-08-14 17:10] afrase opened #602 "money-rails Initializer runs before connection handlers are established"
Depending on the order that gems are loaded, it's possible for the `MoneyRails::Railtie` block to be called before `active_record.initialize_database` is called. This causes the call to `ActiveRecord::Base.connection_config` to raise `ActiveRecord::ConnectionNotEstablished` since the connection handler hasn't been defined yet.

I've only had this occure when using Sidekiq Enterprises `sidekiqswarm

[2020-08-15 10:31] #602 closed

[2020-08-26 22:46] BrianHawley commented on #487
OK, the quick solution to this issue is to add the `allow_nil: true` option to `monetize`, but then adding a separate presence validation on the field. If `allow_nil: true` is set then the `MoneyRails::ActiveRecord::Monetizable` `write_monetized` method won't convert the nil to a 0 with `to_money`. Then, on save or validation, the separate presence validation will block the object from being saved

[2020-08-27 21:05] antstorm commented on #510
@NBuhinicek looking at the source it seems like we do support passing in a block, so your example should totally work

[2020-08-28 09:14] NBuhinicek commented on #510
Tried putting it in config as
config.default_bank = -> { SmartBank.new } # this isn't tenanted, but just for check

And then in console:
[code]

[2020-08-31 08:58] antstorm commented on #510
@NBuhinicek sorry, my bad, misunderstood your last comment. This is supported for currency, but not that bank. Here's a PR to support it for default_bank as well — https://github.com/RubyMoney/money/pull/946. Would this work for you?

[2020-08-31 09:11] NBuhinicek commented on #510
@antstorm no probs

Yeah, that would be great. Strange no one before had a need for this, thanks

[2020-09-01 21:47] antstorm commented on #510
Merged. I'll have this included in the next release. Feel free to point to GH for now

[2020-09-01 21:47] #510 closed

[2020-09-13 13:12] r-obeen commented on #417
Hello,
Can't find a way to put the symbol after the price... is it possible to do so ?
Ex : `10,00 €` instead of `€10,00`

[2020-09-15 23:05] antstorm commented on #417
@r-obeen try `Money.new(10_00, 'EUR').format('%n %u')`. I don't think we have an option to configure this as a default behaviour, but happy to accept a PR

[2020-09-16 08:41] r-obeen commented on #417
Yep there is an option for that. See my previous answer 👍🏾

[2020-09-18 04:16] thebravoman opened #605 "Allow for null price and currency columns"
nul: true options seems not to have the effect I would expect. Not sure if it is a problem in my configuration or I am missing something else. I am adding price to an already existing model so all the previous models should have a null value for the price.

I am adding a migration

[code]
As a result I would expect to have a column "some" that could be null and a column price_cents that could be n

[2020-09-19 09:57] antstorm commented on #417
@r-obeen happy to accept a PR updating docs on this 👍

[2020-09-20 22:36] antstorm commented on #605
@thebravoman yes, this makes sense to me. Would you be up for putting together a PR to allow `null: true` as a top level argument affecting both columns?

[2020-09-22 05:46] thebravoman commented on #605
@antstorm I went on to browse and see what would be required and reached.

[code]

I think I can get around it but was my first encounted.

[2020-09-22 06:50] thebravoman commented on #605
I've prepared a pull request - https://github.com/RubyMoney/money-rails/pull/606

[2020-10-01 21:03] wjessop opened #608 "Unexpected behaviour change between 1.11.0 and 1.12.0"
I'm seeing an unexpected behaviour change between money-rails 1.11.0 and 1.12.0 (the behaviour introduced in 1.12.0 is present in the latest version, but I narrowed it down to this version jump). I'm not sure if this issue is in money-rails, money or monetize so opening an issue here.

These two Rails console sessions sum up the issue:

## v1.11.0

[code]

## v1.12.0

[code]

Basically, the `to_mo

[2020-10-02 11:51] wjessop commented on #608
Further investigation, if I monkey patch the `Monetize` module with these two methods taken from 1.7.0 the previous behaviour is restored, and I can upgrade money-rails 1.13.3.

[code]

[2020-10-03 21:08] antstorm commented on #608
@wjessop while this might be a change in behaviour, the value should actually be 252:

[code]

The reason your patch worked is due to `value.round`, which uses the default rounding mode, which I believe is `BigDecimal::ROUND_HALF_UP`:

[code]

It was probably a bug fix that resulted in correct behaviour in 1.12.0. Try setting your rounding mode to `BigDecimal::ROUND_HALF_UP` and I think you'll get

[2020-10-05 14:32] wjessop commented on #608
@antstorm I don't think we can realistically ask that the behaviour is changed back because a) the new behaviour is the right behaviour and b) even if it wasn't it's been around long enough that the behaviour is "baked in" and people will have written their applications expecting the new behaviour.

What I would say is that this change definitely deserved a changelog entry and a major version incr

[2020-10-31 10:43] ClaudioFloreani commented on #598
Which ones?

[2020-11-05 23:10] antstorm commented on #598
@ClaudioFloreani most likely <= 2.4. Any concerns? These have been EOL for some time now

[2020-11-06 14:41] ClaudioFloreani commented on #598
None. Looking forward for 2.0.0

[2020-11-17 15:26] dcangulo opened #611 "Rails 6.2 deprecation"
I am using Rails `6.1.0.rc1` and this deprecation message appears.

[code]

Code in question: https://github.com/RubyMoney/money-rails/blob/master/lib/money-rails/hooks.rb#L25

[2020-11-19 00:00] antstorm commented on #611
@dcangulo interesting… I think this was actually solved in https://github.com/RubyMoney/money-rails/pull/610. Can you check if you're still getting the warning on `master`?

[2020-11-19 08:09] dcangulo commented on #611
@antstorm Yes, that PR indeed fixes the warning. When is the next release with that fix included?

[2020-11-19 08:09] #611 closed

[2020-11-20 15:23] ClaudioFloreani commented on #497
If `price` is monetized, why don't just `store.products.sum(&:price)` ?

[2020-11-22 20:49] antstorm commented on #611
@dcangulo glad it worked. Will release one this week

[2020-11-22 20:51] antstorm commented on #497
@ClaudioFloreani this will be very inefficient with lots of records — you're fetching and initializing all of them

[2020-11-28 13:19] dcangulo opened #612 "`t.monetize :price` raises an error on Ruby 3.0.0 Preview 1"
I'm not sure if this is a Ruby 3.0.0 error and I just wanna let you know.

So I'm testing my app on Ruby 3.0.0 Preview 1 and it raises the error.
[code]
When using:
[code]
Temporary solution:
[code]

[2020-12-01 00:23] antstorm commented on #612
@dcangulo would you mind posting the full backtrace? I'm suspecting it's because of the splat and double splat operator usage that has changed in Ruby 3

[2020-12-01 04:57] dcangulo commented on #612
@antstorm

Gemfile:
[code]

Migration file:
[code]

Model:
[code]

Stacktrace:
[code]

[2020-12-04 22:46] ruurd commented on #598
@antstorm when is 2.0.0 coming then?

[2020-12-11 06:18] atstockland opened #614 "uninitialized constant MoneyRails::ActionViewExtension after upgrading to Rails 6.1"
I call "include MoneyRails::ActionViewExtension" in a couple helpers and Prawn pdf documents so I can use humanized_money_with_symbol and other money methods.  This has worked as expected for years...until today.

Upon upgrading to Rails 6.1, I now get the following error:

      NameError - uninitialized constant MoneyRails::ActionViewExtension

I'm assuming this is the result of a structural cha

[2020-12-11 19:23] antstorm commented on #614
A good place to start would be to add a new spec target for Rails 6.1 and make sure the error is exposed. I'll have a look at it when I get some spare time, but feel free to start working on this, contributions are always very welcome

[2020-12-16 16:29] jcbpl commented on #611
@antstorm Just bumping this—a new release would be appreciated!

[2020-12-19 15:25] ruurd commented on #587
From the locale

[2020-12-26 04:55] mark100net commented on #614
I'm not sure what the cause is, but I had the same problem.

I was able to work around it by putting this at the top of my `config/initializers/money.rb` (before the configure block):

    money_gem_dir = Gem::Specification.find_by_name("money-rails").gem_dir
    require "#{money_gem_dir}/lib/money-rails/helpers/action_view_extension"

[2020-12-30 18:32] berkos opened #616 "write_attribute private method does not exist anymore in ActiveModel 6.1"
### Context
money-rails documentation refers only to to **ActiveRecord** although since Rails 6.0.3.4 money-rails gem used to work for both **ActiveModel** and **ActiveRecord** Rails classes.

money-rails is using a private method `write_attribute` that was removed on Rails 6.1
[Relevant commit](https://github.com/rails/rails/commit/e14e78bf447fbe1420d87212e833535a72783cd2)

### Steps to reproduce

[2021-01-01 03:32] key88sf commented on #601
@antstorm It looks like
`current_adapter = ::ActiveRecord::Base.connection_config[:adapter]`
in money-rails/hooks.rb may also be causing a deprecation warning:
[code]

[2021-01-03 02:35] juanmanuelramallo commented on #612
Same error on latest ruby `ruby 3.0.0p0 (2020-12-25 revision 95aff21468) [x86_64-darwin19]`

[2021-01-07 04:04] ajh-sr commented on #611
Same here 🙂

[2021-01-07 13:24] antstorm commented on #611
@jcbpl @ajh-sr just pushed 1.13.4. Sorry for the delay

[2021-01-08 00:58] ajh-sr commented on #611
No worries, thanks for your hard work 🏅 💯

[2021-01-09 15:53] antstorm commented on #616
@berkos thanks for noting, this is very interesting. I assume we can just call `super` in the methods that override accessors. I'll give that a go. Also thanks for linking the Rails PR, super helpful context 👍

[2021-01-19 10:35] maxrosecollins commented on #612
I think I am getting the same error
`ruby 3.0.0p0 (2020-12-25 revision 95aff21468)`

[code]

[code]

[2021-01-19 12:44] juanmanuelramallo commented on #612
Hey @maxrosecollins, can you please try using this in your gemfile:

[code]

Then run `bundle install` and try running your migrations once again.

That branch is this PR #617

[2021-02-02 07:54] goncalvesjoao commented on #614
@mark100net  dude, thanks, that worked for me 💪 👊

[2021-02-26 22:50] wwahammy opened #621 "`monetize`'d attribute assignment of number as subunits?"
First off, really great tool, I'm enjoying it so far. I have a quirky situation that I need to handle and I'm not sure if money-rails supports it.

The basic issue is that I don't want an assignment of a number being treated as if units were passed. As an example, right now, let's say I have a model like so:
[code]

Assuming my currency is 'USD', if I new up an instance of CustomModel like so:
[co

[2021-02-27 02:46] #612 closed

[2021-02-28 22:02] #536 closed

[2021-02-28 22:02] #538 closed

[2021-02-28 22:02] #540 closed

[2021-02-28 22:02] #543 closed

[2021-02-28 22:02] #554 closed

[2021-02-28 22:02] #555 closed

[2021-02-28 22:02] #556 closed

[2021-02-28 22:02] #561 closed

[2021-02-28 22:02] #566 closed

[2021-02-28 22:02] #571 closed

[2021-02-28 22:02] #575 closed

[2021-02-28 22:02] #578 closed

[2021-02-28 22:02] #579 closed

[2021-02-28 22:02] #585 closed

[2021-02-28 22:02] #586 closed

[2021-02-28 22:02] #587 closed

[2021-02-28 22:02] #596 closed

[2021-02-28 22:02] #597 closed

[2021-02-28 22:02] #598 closed

[2021-02-28 22:02] #601 closed

[2021-02-28 22:02] #605 closed

[2021-02-28 22:03] #384 closed

[2021-02-28 22:03] #393 closed

[2021-02-28 22:03] #394 closed

[2021-02-28 22:03] #396 closed

[2021-02-28 22:03] #399 closed

[2021-02-28 22:03] #449 closed

[2021-02-28 22:03] #456 closed

[2021-02-28 22:03] #467 closed

[2021-02-28 22:03] #475 closed

[2021-02-28 22:03] #477 closed

[2021-02-28 22:03] #478 closed

[2021-02-28 22:03] #479 closed

[2021-02-28 22:03] #487 closed

[2021-02-28 22:03] #491 closed

[2021-02-28 22:03] #497 closed

[2021-02-28 22:03] #498 closed

[2021-02-28 22:03] #506 closed

[2021-02-28 22:03] #516 closed

[2021-02-28 22:03] #522 closed

[2021-02-28 22:03] #533 closed

[2021-03-01 07:35] ruurd commented on #587
And why is this unceremoniously closed? No explanation given?

[2021-03-01 11:03] johannesluedke opened #624 "[Bug] On Ruby 3, migration helper `monetize` fails (wrong number of arguments (given 3, expected 2))"
Steps to reproduce:
1. create a fresh rails project via `rails new my_project`
2. Add gem 'money-rails' to project and run bundle
3. Create a migration of this form
[code]
4. Run `bundle exec rake db:create db:migrate`

Expected result: Successfully migrating
Observed result: `An error has occurred, this and all later migrations canceled`
Stack trace:
[code]

* With Ruby 2.7.2 this works
* it fail

[2021-03-01 12:25] semmons99 commented on #587
Because it was opened over a year ago and has not seen a subsequent PR. Happy to reopen when there is an associated PR>

[2021-03-01 15:58] ruurd commented on #587
Nah, leave as is. It's an underlying problem that the i18n Rails people don't want to fix.

[2021-03-02 17:11] semmons99 commented on #624
@johannesluedke care to dig in and solve this?

[2021-03-02 17:12] semmons99 commented on #621
We welcome a PR that adds new options so long as it does not break currently understood behavior

[2021-03-02 17:13] semmons99 commented on #616
@antstorm || @berkos care to submit a PR?

[2021-03-02 17:13] semmons99 commented on #614
@mark100net care to submit a PR or shall we close this?

[2021-03-02 17:16] semmons99 commented on #608
sorry. it is always difficult to decide on versioning when a bug is squashed but people used the bug without notice. closing for now. would happily accept a changelog or similar update if people feel it is warranted.

[2021-03-02 17:16] #608 closed

[2021-03-02 17:25] wjessop commented on #608
Thanks for the reply @semmons99. I definitely thing it's worthy of a changelog entry, it's a breaking change introduced in a minor version.

[2021-03-02 17:33] johannesluedke commented on #624
@semmons99 Actually I saw that a new version was released today - https://github.com/RubyMoney/money-rails/releases/tag/v1.14.0 - and with that it worked for me 😀 - So I would close it

[2021-03-02 17:33] #624 closed

[2021-03-02 19:28] mark100net commented on #614
@semmons99 I am no longer using this gem. I did just take a look with a clean Rails 6.1.3 app and version 1.13.3 of the gem and was not able to reproduce it. I'm not 100% sure if that means it's fixed or just that I did something different.

In any case it is probably more up to @atstockland as to whether to close since it is his issue.

[2021-03-02 20:57] atstockland commented on #614
I’ll close it. I changed my code to not rely on what caused the issue for me in the first place. I’ll give @mark100net ’s solution a try.

[2021-03-02 20:57] #614 closed

[2021-03-04 00:35] wwahammy opened #627 "`monetize`d attribute autoconverts Hash to Money but validation rejects"
Today, I noticed inconsistent validation behavior when validating the numericality of a provided value. In particular, if you set an attribute to a Hash, it will be type cast to a Money object but the validation will reject it as invalid. This can be illustrated by adding the following tests to `spec/active_record/monetizable_spec.rb` at line 403

[code]

The first test illustrates that assigning

[2021-03-04 00:49] semmons99 commented on #627
can you show the code for `price_in_a_range`?

[2021-03-04 00:51] wwahammy commented on #627
It's from the original spec code: https://github.com/RubyMoney/money-rails/blob/71b4d8fca9d1a3a9dd23caf63d1c83871801b898/spec/dummy/app/models/product.rb#L24

[2021-03-04 01:01] wwahammy commented on #627
I have a possible fix actually but I'm not sure the behavior is totally correct. The following values for `price_in_a_range` pass:

[code]

However the following will fail validation because price_in_a_range must be greater than 0:
[code]

[2021-03-04 09:55] JoeWoodward commented on #616
Would be good to also bypass that after_save call if the object doesn't respond to it

[2021-03-04 11:54] semmons99 commented on #627
Looking at the code, it seems like what needs to happen is to cast the hash to a money object right away and use that for validation instead of the hash.

is it standard behavior for folks using money-rails to not cast to an explicit money object and just pass hashes around and assume the magic happens?

[2021-03-05 09:34] iGEL opened #628 "money-rails is marked as incompatible with money 6.14"
`money-rails` depends on `money` with `~> 6.13.2` since [April 2019](https://github.com/RubyMoney/money-rails/commit/405ef311b32b5f4efcf0633a6854f34ac74ca985#diff-dd8524c4dddbfdd97e58f9c3f7865c535e98fe82cfa35c975fbbc72950b36322R29), which doesn't allow the current `money` version. Are you sure you didn't want to write something like `~> 6.13, >= 6.13.2` or `>= 6.13.2, < 6.15` (not exactly sure abo

[2021-03-05 09:37] iGEL commented on #628
When I wanted to update `money`, `money-rails` and `monetize`, it did this:
[code]

[2021-03-05 13:24] semmons99 commented on #628
happy to accept a PR that does `~> 6.13`

[2021-03-15 05:51] mjobin-mdsol opened #630 "Test again Rails 5 and 6"
I see you have gemfiles for Rails 5 and 6, but I don't see those separate run on Github Actions.

is this something that was lost when it got translated from Travis to Github Actions?

[2021-03-15 19:33] semmons99 commented on #630
looks like it. care to submit a PR to get them back online?

[2021-03-31 00:36] kule commented on #624
Hmm I'm getting the same issue with Rails 6.0 & Ruby 2.7.2 it appears this line isn't doing what I'd expect:

https://github.com/RubyMoney/money-rails/blob/f655aef559d336d5782111452b4ba7f0acf05094/lib/money-rails/active_record/migration_extensions/schema_statements_pg_rails4.rb#L9

For example:

    # in migration:
    ...
    add_monetize :courses, :price, currency: { present: false }

   ...

[2021-03-31 15:31] kule commented on #624
Ah found the issue.  Incase someone else hits this - in my initializer I'd done this:

    MoneyRails.configure do |config|
      config.amount_column = { postfix: "_pennies" }
    end

This replaces *all* the column attributes and breaks things.  You need to write all the attributes for it to work e.g.

    MoneyRails.configure do |config|
      config.amount_column = {
        postfix: "_pennies

[2021-05-08 22:02] dynelight commented on #628
This is still an issue, I tried installing the newest money and forces money-rails to 1.7.

[2021-05-19 14:29] paulogrupp opened #634 "Validation failing when using less than with delimiter equal to '.'"
Hi, I'm having a problem where using '.' as a delimiter fails the "less_than" validation when doing the following in the tests at spec/active_record/monetizable_spec.rb:286:

[code]

I noticed that using an empty string as a delimiter makes the test pass.
Removing the delimiter key from spec/dummy/config/locales/it.yml keeps the test failing
Is this the expected behavior?

I created this PR with t

[2021-05-19 16:46] semmons99 commented on #634
I am not sure Ruby can handle a `,` as a delimiter in a Float itself. I think it can only handle it on the output via the i18n gem.

I would be happy to accept a PR that makes it work consistently for all locales.

[2021-06-10 21:44] rafasoares commented on #628
@semmons99 it looks like a PR has been merged, in fact even [the changelog](https://github.com/RubyMoney/money-rails/blob/main/CHANGELOG.md#1141) has been updated. Any ETA on a release to rubygems.org?

Thanks!

[2021-07-01 08:29] clemens1483 opened #636 "Rails 6 Autoload Deprecation Warning when using a lambda for `config.default_currency`"
Version: `1.14.0`
Rails: `6.0.4`

Hi, I am getting the rails 6 autoload deprecation warning
[code]

When I am using a model in a lambda in `config.default_currency`:

[code]

Currently the only work around I have found is to wrap the configure block in a `ActiveSupport::Reloader.to_prepare` block which is not ideal. From what I understand wrapping a class in a lambda in an initializer should usual

[2021-07-07 14:07] orest-kostiuk commented on #624
ruby 3.0.1
money-rails 1.7.0

And I get the same error
[code]

[code]

[2021-07-07 15:57] johannesluedke commented on #624
I closed it because it was fixed in 1.14.0, so it's not unexpected that with earlier version like 1.7.0 it doesn't work
https://github.com/RubyMoney/money-rails/issues/624#issuecomment-789081201

[2021-07-30 18:03] perezperret opened #637 "Top-level include of view helpers for rails_admin causes conflicts"
If `RailsAdmin` is present, a top-level include of `MoneyRails::ActionViewExtension` happens. It has caused trouble for us because since we have rails_admin installed, all our objects have currency_symbol defined.

In our specific use-case, we are using graphql-ruby, where you define a "type" class and annotate it with the field names. If a field name corresponds to a method on the "type" class, i

[2021-08-23 11:39] alistairholt opened #639 "money dependency is out-of-date"
The money gem dependency is `~> 6.13`  but the latest version of money on RubyGems is **6.16.0** (at the time of writing).

[2021-08-23 12:20] alistairholt commented on #639
PR: https://github.com/RubyMoney/money-rails/pull/640

[2021-08-23 20:32] mtomov commented on #106
Hey, I also think that official support for decimal storage would be nice as oftentimes we work with the data via direct sql, and it's a bit annoying to always divide by 100.

Thank you!

[2021-09-09 18:08] michaelrbock opened #641 "find_or_create_by doesn't work if passing money attributes"
For example: https://github.com/wvchallenges/se-challenge-expenses/pull/76/files/4370199dbdec6b52e36f3c4921a60eb721f1f671#diff-505a500036112ed3fd25ecd58626183655a4ff626c8bc1dd3cce9fc67af92516R26

If you have an attribute that is a monetize attribute, methods like `create` and `update` work and you can pass values directly for that attribute, but `find_or_create_by` doesn't work

[2021-09-12 10:25] JensDebergh opened #642 "10th or 100th of cents support"
Hi!

I have a question regarding the money gem. I have a client who needs calculations to be done with a precision bigger than 2. I know this gem handles everything up to a precision of 2 perfectly fine since values are stored as the amount of cents as an integer on the table

But what if I would need a smaller "unit" of the money gem to something smaller than cents. Like 10th of a cent or a 100th

[2021-09-17 14:00] svestu commented on #642
Hi Jens,

try a custom currency. There is an option called "subunit_to_unit".

For example put into config/initializers/money.rb:

`  config.register_currency = {
    :priority            => 1,
    :iso_code            => "EU4",
    :name                => "Euro with subunit of 4 digits",
    :symbol              => "EUR",
    :symbol_first        => false,
    :subunit             => "Eurocent",

[2021-10-09 16:54] thebravoman opened #644 "1.15.0 still has https://github.com/RubyMoney/money#deprecation event though PR 570 is merged"
I am using money-rails 1.15.0
I still get

[code]

There is an issue - https://github.com/RubyMoney/money/issues/837
 and there is PR - https://github.com/RubyMoney/money-rails/pull/570 that says it should fix this as of 1.13.0

What am I missing? It should have been fixed with 1.13.0?

Thanks

[2021-10-14 01:05] asavageiv opened #645 "monetized field subunit value incorrect when currency exponent changes during construction"
[code]

Reading `bar` before saving will fix the `bar_amount`, and putting `bar_currency_code` before `bar` in the initialization hash also prevents the bug.

Demonstrated by this commit with some hacked together tests:
https://github.com/asavageiv/money-rails/commit/187139212180e051d2afbf35b57dd3c60ab9d535

I think the solution to this is to modify the subunit amount when the currency changes for

[2021-10-14 01:23] asavageiv commented on #645
Looked into this a little more. The `after_initialize` hook doesn't work because the monetized field may be a method that composes other monetized fields that have not yet been set during initialization. E.g. in the tests Transaction#total_cents combines `amount_cents + tax_cents` which aren't necessarily set when the `after_initialize` hook is called.

[2021-10-14 22:20] asavageiv commented on #645
This is actually easy to reproduce any time the currency exponent changes.
[code]

[code]

I think the solution is to override the currency setter to update the monetized subunit when the currency changes.

[2021-10-15 05:52] asavageiv commented on #645
Overriding the currency setter is not quite trivial because multiple attributes can use the same currency model, so all the subunits need to be updated at the same time. I'm trying a different approach by checking if the currency changed when reading the subunit

[2021-11-19 11:31] TTD93 opened #646 "Get unknown field error when trying to parse params"
We've done the following:

[code]

Gem version 1.3.2
Rails version 6.1.4
Ruby version 2.6.7

When I try to do the following:
[code]
I get the error message `UNHANDLED ERROR unknown attribute 'body' for Post.`

This is the param:
`#<ActionController::Parameters { "sending_method"=>"email", "body"=>"<div>Fake body</div>"} permitted: true>`

However, when I do this, it works
[code]

[2021-11-19 11:37] #646 closed

[2021-11-22 00:32] cromulus opened #647 "Brand New Rails install throwing errors with attribute that contains an '_'"
Hi!

Install rails "6.1.4.1" to replicate:
[code]

This is the error:
`/.rvm/gems/ruby-3.0.2/gems/activemodel-6.1.4.1/lib/active_model/attribute_assignment.rb:51:in `_assign_attribute': unknown attribute 'spent_amount' for Order. (ActiveModel::UnknownAttributeError)`

And if you create a record, then try to update the monetized attribute:
`~/.rvm/gems/ruby-3.0.2/gems/activemodel-6.1.4.1/lib/active

[2021-11-22 02:30] #647 closed

[2021-11-27 03:21] nitsujri opened #648 "Assocation .build clears amount if association called during setup"
## TL;DR

If a model association is called during `.build` for setting `with_model_currency`, the `column_cents` gets reset to 0.

## Example

https://github.com/nitsujri/money-build-issue

To run it, load the `rails console` and run `User.run_example`.

## Details

It will run through showing `.build` works fine if we don't call the assocation, `user.currency`, during `with_model_currency`, but t

[2022-01-04 20:55] machty commented on #627
@wwahammy I'm getting bit by this too; did you find a workaround? Is there any PR to fix this?

[2022-01-04 23:33] wwahammy commented on #627
@machty I just submitted the PR with my change: https://github.com/RubyMoney/money-rails/pull/649.

[2022-01-06 19:07] #628 closed

[2022-03-08 08:40] shareef786 commented on #614
@mark100net It worked for me.. Thanks Much!

[2022-04-11 18:06] Pagehey opened #654 "Deprecation warning for symbol_position"
Hi ! First, thank you for this gem, really useful ! 👍

It works great, however it seems there is something wrong about a deprecation warning.

When I use the `money_without_cents(...)` helper, I have the following warning :
`[DEPRECATION] 'symbol_position: :after' is deprecated - you can replace it with 'format: %n %u'`,
but when I do so in the initializer, I got  an error from `Money`:
`:symbol_p

[2022-05-01 09:51] laptopmutia opened #655 "how to use currency exchange with exchange_rate that is saved in ActiveRecords model?"
so I have a transaction model and in this Active Records model I have column that hold, currency `buying_price` and `selling_price`

I want to use the exchange rates using this two column, is that possible?

because from the docs `money` have a complicated exchange rates, it stores the exchange rates in a global/gem config instead per model

here is my schema
[code]
  the default or local currency

[2022-05-03 18:51] smtlaissezfaire opened #656 "`humanized_money` doesn't respect `config.default_format.no_cents_if_whole`"
With config setting:

[code]

`humanized_money` doesn't respect the `config.default_format.no_cents_if_whole` setting.

The code seems to do this:

[code]

A hack is setting `config.no_cents_if_whole` as well as `config.default_format.no_cents_if_whole`:

[code]

But this seems like a bug.

[2022-05-16 02:28] Maysora commented on #634
got this issue a few days ago
[code]

my solution is to override MoneyValidator#normalize to do nothing when details.raw_value already Numeric :
[code]

[2022-05-18 13:41] semmons99 commented on #634
should we make this a change?

[2022-08-02 11:15] sunny commented on #655
One way to get the current exchange rate could be to determine it on the spot. E.g.: `1.to_money("EUR") / 1.to_money("IDR")`.

[2022-08-02 11:23] sunny commented on #639
This issue can be closed since #640 is merged.

[2022-08-02 11:27] sunny commented on #621
@wwahammy Are you still interested in this? Wouldn’t calling `amount_cents: 1000` when you want to store the subunit instead of `amount: 1000` fix your use-case?

[2022-08-02 12:04] #639 closed

[2022-08-02 16:45] wwahammy commented on #621
@sunny I am still interested in it. I think I started a PR on this but I never got it over the finish line.

Calling `amount_cents: 1000` would work but for us is a bit of a leaky abstraction. There's no situation where we'd ever want our API to accept anything other than the smallest subunit. For us and I'd assume a number of other people dealing with financial values (Stripe for example), everyt

[2022-08-29 06:07] aldhsu commented on #641
I ran into something similar today. You cannot use money objects in `where` conditions. This came as a surprise to me as it should be supported by serializers automatically. However, looking at the code, that isn't how money-rails ties into Rails. My guess is because Money uses two fields which isn't supported by serializers.

[2022-11-02 07:19] rockwellll commented on #507
I'm sorry but im dumbfounded and cant seem to understand how this works. Could you clarify? Thanks.

[2022-11-02 09:41] dorianmariefr commented on #507
@rockwellll A common idiom is to do `alias old_price= price=` so you have an alias of the current `price=` method named `old_price=` that will be used later.

Then we override `price=`, do our custom code (the strip) and call the aliased method (the old_price= method, here named `price_from_monetize=`)

hope this helps